.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image, .fancybox-wrap iframe, .fancybox-wrap object, .fancybox-nav, .fancybox-nav span, .fancybox-tmp{padding:0;margin:0;border:0;outline:none;vertical-align:top;}
.fancybox-wrap{position:absolute;top:0;left:0;z-index:8020;}
.fancybox-skin{position:relative;text-shadow:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.fancybox-opened{z-index:8030;}
.fancybox-opened .fancybox-skin {
		-webkit-box-shadow: 0 5px 9px rgba(0,0,0,.25);
		-moz-box-shadow: 0 5px 9px rgba(0,0,0,.25);
		box-shadow: 0 5px 9px rgba(0,0,0,.25);
}
.fancybox-outer, .fancybox-inner{position:relative;z-index:0}
.fancybox-inner {
	overflow: auto !important
}
.fancybox-type-iframe .fancybox-inner{-webkit-overflow-scrolling:touch;}
.fancybox-error{color:#444;font:14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;margin:0;padding:15px;white-space:nowrap;}
.fancybox-image, .fancybox-iframe{display:block;width:100%;height:100%;}
.fancybox-image{max-width:100%;max-height:100%;}
#fancybox-loading{position:fixed;top:50%;left:50%;margin-top:-22px;margin-left:-22px;background-position:0 -108px;opacity:0.8;cursor:pointer;z-index:8060;}
#fancybox-loading div{width:44px;height:44px;background:url("../img/fancybox_loading.gif") center center no-repeat;}
.fancybox-close{display:block;height:23px;width:33px;opacity:1;position:absolute;top:10px;right:6px;z-index:1}
.fancybox-close:before, .fancybox-close:after{content:'';background:#34495e;display:block;height:15px;left:15px;position:absolute;top:5px;width:3px;-webkit-transform:rotate(45deg);transform:rotate(45deg);}
.fancybox-close:after{-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
.fancybox-close:hover:before, .fancybox-close:hover:after{background:#3498db;}
.fancybox-nav{position:absolute;top:0;width:40%;height:100%;cursor:pointer;text-decoration:none;-webkit-tap-highlight-color:transparent;z-index:8040;}
.fancybox-prev{left:0;}
.fancybox-next{right:0;}
.fancybox-nav span{-webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none;transition:none;height:38px;width:38px;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;background:#fff;color:#252424;-webkit-box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.2);-moz-box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.2);box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.2);-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-ms-transition:all 0.2s linear;-o-transition:all 0.2s linear;transition:all 0.2s linear;font-size:15px;text-align:center;top:50%;margin-top:-3px;font-family:'FontAwesome';display:block;width:100%;height:100%;line-height:34px;position:absolute;top:50%;width:36px;height:34px;margin-top:-18px;cursor:pointer;z-index:8040;visibility:hidden;}
.fancybox-prev span{left:10px;background-position:0 -36px;}
.fancybox-prev span:before{content:"\f104";}
.fancybox-next span{right:10px;}
.fancybox-next span:before{content:"\f105";}
.fancybox-nav:hover span{visibility:visible;}
.fancybox-tmp{position:absolute;top:-99999px;left:-99999px;visibility:hidden;max-width:99999px;max-height:99999px;overflow:visible !important;}
.fancybox-lock{overflow:hidden !important;width:auto;}
.fancybox-lock body{overflow:hidden !important;}
.fancybox-lock-test{overflow-y:hidden !important;}
.fancybox-overlay{position:absolute;top:0;left:0;overflow:hidden;display:none;z-index:8010;background:rgba(255,255,255, 0.5);}
.fancybox-overlay-fixed{position:fixed;bottom:0;right:0;}
.fancybox-lock .fancybox-overlay{overflow:auto;overflow-y:scroll;}
.fancybox-title{visibility:hidden;font:normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;position:relative;text-shadow:none;z-index:8050;}
.fancybox-opened .fancybox-title{visibility:visible;}
.fancybox-title-float-wrap{position:absolute;bottom:0;right:50%;margin-bottom:-35px;z-index:8050;text-align:center;}
.fancybox-title-float-wrap .child{display:inline-block;margin-right:-100%;padding:2px 20px;background:transparent;background:rgba(0, 0, 0, 0.8);-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;text-shadow:0 1px 2px #222;color:#FFF;font-weight:bold;line-height:24px;white-space:nowrap;}
.fancybox-title-outside-wrap{position:relative;margin-top:10px;color:#fff;}
.fancybox-title-inside-wrap{padding-top:10px;}
.fancybox-title-over-wrap{position:absolute;bottom:0;left:0;color:#fff;padding:10px;background:#000;background:rgba(0, 0, 0, 0.8);}
.slick-prev:before, .slick-next:before {
    color: #bdc3c7;
    font-size: 16px;
}
.slick-prev:hover:before, .slick-next:hover:before{
	color: #2ecc71
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min--moz-device-pixel-ratio:1.5), only screen and (min-device-pixel-ratio:1.5){#fancybox-loading div{background-image:url("../img/fancybox_loading@2x.gif");background-size:24px 24px;}
}

@media (max-width:991px){.fancybox-overlay{top:0}
.popus-main .fancybox-close{display:none;}
}
@media (max-width:767px){.popus-main .fancybox-close{display:block;position:fixed;top:71px;right:15px}
}