﻿/*
*		Cart page
*/

@charset 'UTF-8';

.cart-page {
	h1 {
		margin-bottom: 12px;
	}
}

.cart-page-subtitle {
	color: #2c3e50;
	display: block;
	font-size: 15px;
	line-height: 24px;
	margin: 0 0 13px;
}

.cart-deleted-list {
	list-style: none;
	margin-bottom: 25px;

	&__item {
		background: #ecf0f1;
		border-radius: 5px;
		margin-bottom: 10px;
		position: relative;
	}

	&__text {
		padding: 8px 215px 8px 16px;
		margin: 0;
		color: #7f8c8d;
		font-size: 15px;
		line-height: 24px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		height: 40px;
	}

	&__btn {
		display: block;
		text-align: center;
		float: right;
		border-radius: 5px;
		color: #fff;
		width: 200px;
		height: 40px;
		line-height: 40px;
		transition: all .2s;
		background: #bdc3c7;
		position: absolute;
		top: 0;
		right: 0;

		&:hover,
		&:active {
			color: #fff;
			background: #3498db;
		}
	}
}

.cart-items-list {
	list-style: none;
	margin-bottom: 60px;

	&__item {
		position: relative;
		border-top: 1px solid #ebedee;
		border-left: 1px solid #ebedee;
		border-right: 1px solid #ebedee;
		transition: all .2s;
		padding: 25px 30px 28px;

		&:before,
		&:after {
			content: " ";
			display: table;
		}

		&:after {
			clear: both;
		}

		&:last-child {
			border-radius: 0 0 3px 3px;
			border-bottom: 1px solid #ebedee;
		}

		&:first-child {
			border-radius: 3px 3px 0 0;
		}

		&:hover {
			box-shadow: 0 0 0 3px #ebedee inset;
		}
	}

	&__del {
		position: absolute;
		top: 26px;
		right: 30px;
		font-size: 18px;
		line-height: 1;
		border: none;
		background: transparent;
		color: #2c3e50;
		padding: 0;
	}
}

.cart-item-pic {
	float: left;
	border: 1px solid #ebedee;
	border-radius: 3px;
	width: 140px;
	height: 140px;
	position: relative;
	overflow: hidden;
	margin-top: 6px;

	&__img {
		display: inline-block;
		vertical-align: top;
		height: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}

.cart-item-descr {
	margin-left: 170px;
}

.cart-item-info {
	float: left;
	width: 52.77%;

	&__title {
		color: #2c3e50;
		font-size: 15px;
		line-height: 22px;
		display: block;

		&:hover,
		&:focus {
			text-decoration: underline;
			color: #3498db;
		}
	}

	&__code {
		font-size: 13px;
		line-height: 16px;
		display: block;
		color: #7f8c8d;
		margin: 5px 0 6px;
	}

	&__link {
		font-size: 13px;
		line-height: 16px;
		display: block;
		color: #3498db;
		text-decoration: underline;
		position: relative;
		margin: 11px 0 12px;

		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			background-repeat: no-repeat;
			background-position: center center;
			margin-right: 8px;
			margin-top: -4px;
		}

		&:hover,
		&:focus {
			color: #3498db;
			text-decoration: none;
		}

		&_accessory {
			
			&:before {
				width: 16px;
				height: 14px;
				background-image: url(../img/icon-accessory.png?ver1.3);
			}
		}

		&_present {
			
			&:before {
				width: 16px;
				height: 15px;
				background-image: url(../img/icon-present.png?ver1.3);
			}
		}
	}

	&__delivery {
		color: #2ecc71;
		font-size: 13px;
		line-height: 1;
		margin: 0;
	}
}

.cart-item-settings {
	float: left;
	width: 47.23%;

	&__top-line {
		margin-bottom: 23px;
	}

	&__title {
		font-size: 13px;
		line-height: 20px;
		color: rgba(#2c3e50, .5);
		display: block;
		margin-left: 15px;
	}

	.basket__number {
		display: inline-block;
		vertical-align: middle;
		margin-right: 12px;

		.button-minus {
			margin-right: 12px;
			margin-left: 0;
		}

		.form-control {
			width: 39px;
			line-height: 1;
		}

		.button-plus {
			margin-left: 10px;
			margin-right: 0;
		}
	}

	&__price {
		display: inline-block;
		vertical-align: middle;
		color: #3e5266;
		font-size: 22px;
		line-height: 20px;
		font-weight: 300;
	}

	&__bot-line {
		
		.cart-item-settings__title {
			margin-bottom: 6px;
		}

		.cart-item-settings__price {
			color: #c7c7c7;

			&_active {
				color: #2ecc71;
			}
		}

		.tooltip-wrap {
			float: right;
			margin-top: 2px;

			i {
				font-size: 18px;
				line-height: 20px;
				color: #bdc3c7;
				transition: all .2s;

				&:hover {
					color: #3498db;
				}
			}
		}
	}

	.onoffswitch {
		display: inline-block;
		vertical-align: middle;
		margin-left: 16px;
		margin-right: 25px;
	}
}

.cart-item-settings__bot-line .cart-item-info__delivery {
	display: none;
}

.cart-order-list {
	border: 1px solid #ecf0f1;
	border-radius: 5px;
	margin-top: 20px;
}

.cart-order-block {
	border-bottom: 1px solid #ecf0f1;
	padding: 26px 27px 26px 30px;

	&__header {
		cursor: pointer;
	}

	&__title {
		font-size: 15px;
		display: block;
		line-height: 1.2;
		color: #3e5266;
		font-weight: 700;
		float: left;
	}

	.arrow-cart {
		float: right;
		font-size: 16px;
		line-height: 1;
		color: #3e5266;
	}

	.js-cart-body-close {
		.arrow-cart {
			transform: rotate(180deg);
		}
	}

	&__body {
		margin-top: 15px;
	}

	&__body-title {
		display: block;
		color: #7f8c8d;
		font-size: 13px;
		line-height: 1.2;
		margin-bottom: 7px;
	}
}

.cart-order-city {
	position: relative;
	z-index: 10;

	.jq-selectbox__select {
		background: transparent;
		border: 2px solid #dee1e3;
		padding: 6px 20px;
		border-radius: 5px;
		z-index: 5;
	}

	.jq-selectbox__select-text {
		color: #bdc3c7;
		font-weight: 400;
		font-size: 15px;
		line-height: 24px;
	}

	.jq-selectbox__trigger {
		display: none;
	}

	.jq-selectbox.opened .jq-selectbox__select {
		background: #fff;
		border-color: #dee1e3;
		z-index: 11;
	}

	.jq-selectbox__dropdown {
		padding: 0;
		border: none;
		margin-top: 0;
		background: transparent;
		z-index: 10;
		top: 36px !important;


		ul {
			height: 162px;
			border-top: 2px solid #dee1e3;
			border-bottom: 2px solid #dee1e3;
			border-radius: 5px;
		}

		li {
			background: #fff;
			margin-top: 0;
			padding: 7px 20px;
			font-size: 15px;
			line-height: 24px;
			color: #2c3e50;
			border-left: 2px solid #dee1e3;
			border-right: 2px solid #dee1e3;
			border-top: 2px solid #dee1e3;
			border-radius: 0;
			position: relative;
			z-index: 1;

			&:hover {
				border-color: #2ecc71;
				background: #eafaf1;
				z-index: 2;

				&:after {
					content: '';
					display: block;
					height: 2px;
					background: #2ecc71;
					position: absolute;
					bottom: -2px;
					left: -2px;
					right: -2px;
				}
			}

			&:last-child {
				border-bottom: 2px solid transparent;
			}
		}
	}

	.arrow-cart-city {
		display: none;
		position: absolute;
		top: 50%;
		right: 14px;
		font-size: 16px;
		transform: translate(0, -50%);
		color: #2c3e50;
		z-index: 101;
	}

	&_active {

		.arrow-cart-city {
			transform: translate(0, -50%) rotate(180deg);
		}
	}
}

.cart-order-city {

	.cart-order-city__select.changed {

		.jq-selectbox__select {
			border-color: #2ecc71;
		}

		.jq-selectbox__select-text {
			color: #2c3e50;
		}
	}
}

.cart-delivery-block {
	margin-top: 25px;

	&_active {

		.cart-radio {
			border-color: #d7dcde;
		}

		.cart-delivery-block__label_courier {

			&:after {
				background-image: url(../img/icon-car-black.png?ver1.3);
			}
		}

		.cart-delivery-block__label_self {

			&:after {
				background-image: url(../img/icon-cart-black.png?ver1.3);
			}
		}

		.cart-delivery-block__radio:checked + .cart-delivery-block__label_courier {

			&:after {
				background-image: url(../img/icon-car-green.png?ver1.3);
			}
		}

		.cart-delivery-block__radio:checked + .cart-delivery-block__label_self {

			&:after {
				background-image: url(../img/icon-cart-green.png?ver1.3);
			}
		}

		.cart-delivery-block__radio:checked + .cart-delivery-block__label .cart-radio {
			border-color: #2ecc71;

			&:after {
				background: #2ecc71;
			}
		}

		.cart-delivery-block__radio:checked + .cart-delivery-block__label .cart-delivery-block__price {
			color: #2ecc71;
		}

		.cart-delivery-block__text {
			color: #2c3e50;
		}

		.cart-delivery-block__price {
			color: #7f8c8d;
		}
		
	}

	&__item {
		margin-bottom: 20px;
		
		&:last-child {
			margin-bottom: 0;
		}
	}

	&__radio {
		display: none;
	}

	&__label {
		font-size: 15px;
		line-height: 20px;
		cursor: pointer;
		padding-left: 23px;
		position: relative;
		display: block;

		&:after {
			content: '';
			display: block;
			position: absolute;
			background-repeat: no-repeat;
			background-position: center center;
		}

		&_courier {

			&:after {
				width: 37px;
				height: 21px;
				background-image: url(../img/icon-car-gray.png?ver1.3);
				top: 2px;
				right: 3px;
			}
		}

		&_self {
			&:after {
				width: 26px;
				height: 22px;
				background-image: url(../img/icon-cart-gray.png?ver1.3);
				top: 3px;
				right: 13px;
			}
		}
	}

	&__text {
		color: #bdc3c7;
		font-size: 15px;
		line-height: 20px;
		display: block;
	}

	&__price {
		color: #bdc3c7;
		font-size: 15px;
		line-height: 18px;
		display: block;
	}
}

.cart-delivery-block__radio:checked + .cart-delivery-block__label .cart-radio {
	border-color: #bdc3c7;

	&:after {
		display: block;
	}
}

.cart-radio {
	width: 14px;
	height: 14px;
	border: 3px solid #bdc3c7;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	left: 0;
	top: 3px;

	&:after {
		content: '';
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		width: 4px;
		height: 4px;
		background: #bdc3c7;
		border-radius: 50%;
	}
}

.cart-pay-method {
	padding-bottom: 30px;
}

.cart-order-pay {
	position: relative;

	.arrow-cart-pay {
		display: none;
		position: absolute;
		top: 50%;
		right: 14px;
		font-size: 16px;
		-webkit-transform: translate(0, -50%);
		-moz-transform: translate(0, -50%);
		transform: translate(0, -50%);
		color: #2c3e50;
		z-index: 10;
	}
	
	&_active {

		.arrow-cart-pay {
			-webkit-transform: translate(0, -50%) rotate(180deg);
			-moz-transform: translate(0, -50%) rotate(180deg);
			transform: translate(0, -50%) rotate(180deg);
		}
	}

	&__default {
		font-size: 15px;
		line-height: 24px;
		color: #2c3e50;
		border: 2px solid #dee1e3;
		cursor: pointer;
		padding: 6px 45px 6px 65px;
		border-radius: 5px;
		display: block;
		position: relative;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			-webkit-transform: translate(0, -50%);
			-moz-transform: translate(0, -50%);
			transform: translate(0, -50%);
			background-position: center center;
			background-repeat: no-repeat;
		}

		&_pay1 {
			
			&:before {
				width: 30px;
				height: 25px;
				background-image: url(../img/icon-pay1-green.png?ver1.3);
				left: 16px;
			}
		}

		&_pay2 {
			
			&:before {
				width: 30px;
				height: 19px;
				background-image: url(../img/icon-pay2-green.png?ver1.3);
				left: 16px;
			}
		}

		&_pay3 {
			
			&:before {
				width: 30px;
				height: 28px;
				background-image: url(../img/icon-pay3-green.png?ver1.3);
				left: 19px;
			}
		}

		&_pay4 {
			
			&:before {
				width: 18px;
				height: 27px;
				background-image: url(../img/icon-pay4-green.png?ver1.3);
				left: 22px;
			}
		}

		&_pay5 {
			
			&:before {
				width: 30px;
				height: 30px;
				background-image: url(../img/icon-pay5-green.png?ver1.3);
				left: 17px;
			}
		}

		.cart-tooltip-wrap {
			display: none;
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			-webkit-transform: translate(0, -50%);
			-moz-transform: translate(0, -50%);
			transform: translate(0, -50%);
			background-position: center center;
			background-repeat: no-repeat;
		}
	}
}

.cart-order-pay-list {
	list-style: none;
	margin: 0;
	position: absolute;
	top: 2px;
	left: 0;
	width: 100%;
	z-index: 2;
	display: none;

	&_active {
		display: block;
	}

	&__item {
		font-size: 15px;
		line-height: 24px;
		color: #2c3e50;
		border: 2px solid #dee1e3;
		cursor: pointer;
		padding: 6px 45px 6px 65px;
		margin-top: -2px;
		position: relative;
		background: #fff;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			-webkit-transform: translate(0, -50%);
			-moz-transform: translate(0, -50%);
			transform: translate(0, -50%);
			background-position: center center;
			background-repeat: no-repeat;
		}

		&_pay1 {
			
			&:before {
				width: 30px;
				height: 25px;
				background-image: url(../img/icon-pay1-black.png?ver1.3);
				left: 16px;
			}
		}

		&_pay2 {
			
			&:before {
				width: 30px;
				height: 19px;
				background-image: url(../img/icon-pay2-black.png?ver1.3);
				left: 16px;
			}
		}

		&_pay3 {
			
			&:before {
				width: 30px;
				height: 28px;
				background-image: url(../img/icon-pay3-black.png?ver1.3);
				left: 19px;
			}
		}

		&_pay4 {
			
			&:before {
				width: 18px;
				height: 27px;
				background-image: url(../img/icon-pay4-black.png?ver1.3);
				left: 22px;
			}
		}

		&_pay5 {
			
			&:before {
				width: 30px;
				height: 30px;
				background-image: url(../img/icon-pay5-black.png?ver1.3);
				left: 17px;
			}
		}

		&:first-child {
			border-radius: 5px 5px 0 0;
		}

		&:last-child {
			border-radius: 0 0 5px 5px;
		}

		&:hover {
			border-color: #2ecc71;
			background: #eafaf1;

			& + .cart-order-pay-list__item {
				border-top-color: #2ecc71;
			}
		}
	}

	.cart-tooltip-wrap {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: 1;
	}
}

.cart-tooltip-wrap {
	
	.icon-info-circle {
		position: absolute;
		top: 50%;
		right: 13px;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		transform: translateY(-50%);
		width: 16px;
		height: 16px;
		display: block;
		background-repeat: no-repeat;
		background-position: center center;
		background-image: url(../img/icon-info-gray.png?ver1.3);
		
		&:hover {
			background-image: url(../img/icon-info-blue.png?ver1.3);
			cursor: pointer;
		}
	}
}

.cart-tooltip-content {
	display: none;
	position: absolute;
	top: 0;
	right: 44px;
	width: 300px;
	background: #ecf0f1;
	border-radius: 5px;
	box-shadow: 0 17px 12px 0 rgba(#000, .17);

	&:after {
		content: '';
		display: block;
		border: 9px solid transparent;
		border-left: 9px solid #3498db;
		position: absolute;
		top: 12px;
		right: -18px;
	}

	span {
		background: #3498db;
		display: block;
		color: #fff;
		padding: 12px 10px 8px;
		border-radius: 5px 5px 0 0;
		font-size: 18px;
		line-height: 21px;
	}

	p {
		margin: 15px 20px 8px;
		font-size: 15px;
		line-height: 21px;
		color: #34495e;
		font-weight: 300;
	}

	a {
		display: inline-block;
		color: #2980b9;
		font-size: 15px;
		line-height: 21px;
		font-weight: 300;
		text-decoration: underline;
		margin: 0 20px 20px;

		&:hover {
			text-decoration: none;
		}
	}
}

.cart-coupon {
	padding-bottom: 28px;
}

@mixin placeholder {
	&::-webkit-input-placeholder {
		@content;
	}
	&:-moz-placeholder {
		@content;
	}
	&::-moz-placeholder {
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}
}

.cart-input-box-wrapper {
	margin-top: 17px;
}

.cart-input-box {
	position: relative;

	&__input {
		display: block;
		width: 100%;
		border: 2px solid #dee1e3;
		border-radius: 5px;
		height: 40px;
		padding: 0 140px 0 5px;
		text-align: center;
		font-size: 15px;
		color: #3e5266;

		@include placeholder {
			color: #7f8c8d;
			opacity: 1;
		}
	}

	&__btn {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 135px;
		height: 40px;
		background: #bdc3c7;
		border: none;
		border-radius: 5px;
		color: #fff;
		font-size: 18px;

		&:hover {
			opacity: .8;
		}
	}
}

.cart-order-block_summ {
	padding-top: 15px;
	padding-bottom: 30px;
	border-bottom: none;
}

.cart-summary-title {
	display: block;
	font-size: 18px;
	line-height: 30px;
	color: #3e5266;
}

.cart-summary-list {
	list-style: none;
	margin-bottom: 22px;

	&__item {
		overflow: hidden;
		font-size: 15px;
		line-height: 30px;
		color: #3e5266;

		&_all {
			margin-top: 15px;

			.cart-summary-list__text {
				margin-top: 9px;
			}
			
			.cart-summary-list__price {
				line-height: 1;
				font-size: 40px;
				font-family: "ALSSchlangesans", arial, verdana, sans-serif;
			}

			.rub {
				font-size: 21px;
			}
		}
	}

	&__text {
		float: left;
	}

	&__price {
		font-weight: 700;
		float: right;
	}
}

.cart-btn-wrapper {
	text-align: center;
}

.cart-btn-submit {
	background: #2ecc71;
	border-radius: 5px;
	color: #fff;
	display: block;
	font-size: 18px;
	height: 50px;
	text-transform: uppercase;
	box-shadow: 0 12px 14px rgba(#000, .17);
	border: none;
	max-width: 308px;
	width: 100%;
	display: inline-block;
	transition: all .2s;
	font-weight: 700;
	font-family: "ALSSchlangesans", arial, verdana, sans-serif;

	&:hover {
		background: #32da79;
	}
}

.onoffswitch {
	position: relative;
	width: 70px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select: none;
}

.onoffswitch-checkbox {
	display: none;
}

.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border-radius: 20px;
}

.onoffswitch-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, 
.onoffswitch-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 20px;
	padding: 0;
	line-height: 20px;
	font-size: 11px;
	color: #fff;
}

.onoffswitch-inner:before {
	content: "да";
	padding-left: 20px;
	background-color: #2ECC71;
	color: #FFFFFF;
	font-weight: 500;
	text-transform: uppercase;
}

.onoffswitch-inner:after {
	content: "нет";
	padding-right: 17px;
	background-color: #C7C7C7;
	color: #FFFFFF;
	text-align: right;
	font-weight: 500;
	text-transform: uppercase;
}

.onoffswitch-switch {
	display: block;
	width: 12px;
	height: 12px;
	background: #FFFFFF;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 48px;
	border-radius: 50%;
	transition: all 0.3s ease-in 0s; 
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
	right: 10px;
}

.buy-often {
	background: #f5f7f8;

	&__title {
		font-size: 24px;
		line-height: 1;
		color: #3e5266;
		font-weight: 700;
		display: block;
		font-family: "ALSSchlangesans", arial, verdana, sans-serif;
		margin: 20px 0 25px;
	}

	.product {
		background: #fff;
		padding: 8px 8px 12px 12px;
		margin-left: 15px;
		margin-right: 15px;
	}

	.product-middle {
		margin-top: 45px;
	}

	.product__title {
		font-size: 18px;
		line-height: 20px;
	}

	.product-right {
		margin-top: 33px;
	}

	.product__old_price {
		margin-top: 0;
		margin-left: 7px;
		font-size: 14px;
	}

	.links-actions {
		margin-top: 3px;
	}

	.links-actions__item i {
		font-size: 21px;
		margin-right: 4px;
	}

	.product .btn-cart {
		margin-right: 5px;
	}

	.links-actions__item.active .fa-heart-o {
		color: #2980b9;
	}

	.product__img {
		height: 170px;
		position: relative;
		display: block;

		img {
			display: inline-block;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}
	}
}

.accessories-box {
	.slick-dots {
		bottom: 2px;
	}
}
.cart-order-city .mCSB_inside > .mCSB_container {
    margin-right: 0;
}
.cart-order-city .mCSB_scrollTools {
	padding: 0 4px;
	z-index: 2
}
.cart-order-city .mCSB_scrollTools .mCSB_draggerContainer {
	left: auto;
	right: 4px;
	width: 2px;
}
.cart-order-city .mCSB_scrollTools .mCSB_dragger {
	background: #95a5a6 ;
	width: 100%;
}
.cart-order-city .mCSB_scrollTools .mCSB_draggerRail {
	background: none
}

.accessories-box
{
	padding: 12px 0 0;

	&__title {
		color: #2c3e50;
		font-weight: 300;
	}
}
.accessories-product {
	display: inline-block;
	width: 25%;
	margin-right: -4px;
	text-align: center;
	vertical-align: top;
	max-width: 174px;
	&__img
	{
		border: 2px solid #ebedee;
		width: 100px;
		height: 99px;
		display: flex;
		align-items: center;
		align-content: center;
		margin: 0 auto;
		overflow: hidden;
	}
	&__title
	{
		color: #3498db;
		font-size: 13px;
		font-weight: 400;
		line-height: 15px;
		margin: 10px 0;
		height: 30px;
		overflow: hidden;

		a {
			color: inherit;
			display: inline-block;

			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__btn {
		width: 100px;
		height: 30px;
		background-color: #3498db;
		border-radius: 3px;
		display: block;
		color: white;
		font-size: 13px;
		font-weight: 400;
		padding: 6px 0 0;
		margin: 0 auto;
		&>i{
			display: none;
		}
		&:hover
		{
			background-color:#2c80b9;
			color: white;
		}
		&.accessories-product__btn_product-added
		{
			background-color: transparent;
			padding-top: 3px;

			.accessories-product__btn-added {
				display: block;
			}

			.accessories-product__btn-toadd {
				display: none;
			}
		}
	}

	&__btn-added {
		display: none;
		font-family: "Ubuntu", arial, verdana, sans-serif;
		color: #3498db;

		i {
			color: #3498db;
			display: inline-block;
			vertical-align: middle;
			margin-right: 5px;
		}
	}
	&__price
	{
		font-size: 24px;
		font-weight: 400;
		line-height: 15px;
		margin: 0 0 22px;
	}
}
.tab-wrap {
	&.tab-wrap_accessorise{
		padding: 10px 0 0;
	}
}

.tab-content_accessorise {
	width: 100%;
	vertical-align: top;
}
.modal-dialog.modal-dialog_accessories{
	width: 1030px;

	.modal-content {
		padding: 16px 12px 15px;
	}
}
.order-result-popup .modal-dialog
{
	width: 430px;
	padding: 15px 0;
	background: white;
}
.pop-up.order-result-popup
{ 
	.modal-header{
		border-bottom: 1px solid #ebedee;
		margin: 0 15px;
		padding: 0;
		&__title {
			color: #3e5266;
			font-family: 'ALSSchlangesans', Arial, sans-serif;
			font-size: 15px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: .4px;
			margin: 0 0 19px;
		}
		&__text {
			letter-spacing: -.1px;
			line-height: 20px;
			margin-bottom: 11px;
		}
	}
	.modal-footer
	{
		text-align: left;
		border: none;
		opacity: 0.91;
		font-size: 12px;
		font-weight: 400;
		line-height: 20px;
		color: #7f8c8d;
		padding-top: 0px;
		padding-bottom: 0;
		margin-bottom: 0px;
		&__link
		{
			color: #3498db;
			text-decoration: underline;
			&:hover
			{
				text-decoration:none;
			}
		}
	}
	.modal-body {
		padding: 9px 15px 0;
	}
	.form-group 
	{
		margin-bottom: 9px;

		&_time {
			margin-bottom: 4px;

			label {
				margin-bottom: 4px;
			}
		}

		label{
			opacity: 0.91;
			color: #7f8c8d;
			font-family: 'Ubuntu', Arial, sans-serif;
			font-size: 13px;
			font-weight: 400;
			padding: 0 0 2px;
		}
	}
	.form-control
	{
		color: #2c3e50;
		font-size: 15px;
		font-weight: 500;
		height: 44px;
		border-width: 1px;
		&.form-control_phone  {
			letter-spacing: 0.13em;
			padding-left: 28px;

			@include placeholder {
				color: #999;
				font-size: 15px;
				font-weight: 700;
				opacity: 1;
			}
		}
		&_time{
			display: block;
			color: #2c3e50;
			font-size: 22px;
			font-weight: 400;
			max-width: 61px;
			width: 61px;
			margin-right: 15px;
			padding-right: 22px;
			padding-left: 10px;
			background: none;
			position: relative;
			z-index: 1
		}

		&__time-2 {
			width: 54px;
		}

		&_comment {
			line-height: 1.32;
		}
	}
	.form-control-wrapper {
		float: left;
		position: relative;

		&:after {
			content: '00';
			display: block;
			position: absolute;
			top: 10px;
			right: 24px;
			font-size: 13px;
			color: #2c3e50;
			z-index: 0;
		}
	}
}
.form-group{
	float: none;
	clear: both;
	overflow: hidden;

	&__label_time {
		float: left;
		line-height: 44px;
		margin: 0 18px 0 0;
	}
}
.address-book__body .form-group{
	float: left;
	clear: none;
	overflow: hidden;
}

.form-control
{
	&_comment
	{
		resize: vertical;
		min-height: 90px;
	}
} 
.btn.btn_order-result
{
	width: 100%;
	text-transform: uppercase;
	letter-spacing: -.3px;
	margin: 22px 0 0;
}
.product-box
{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	border-bottom: 1px solid #ecf0f1;
	padding: 0 0 29px;
	margin: 0 0 8px;
	&__image{
		width: 140px;
		height: 140px;
		background-color: white;
		border: 1px solid #ebedee;
		border-radius: 10px;
		position: relative;
		overflow: hidden;
		padding: 0 5px;

		img {
			display: inline-block;
			vertical-align: top;
			position: relative;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}
		
	}
	&__title
	{
		font-size: 30px;
		font-weight: 400;
		line-height: 36px;
		padding: 0 0 6px 30px;
		letter-spacing: -.3px;
	}
	
}
@media screen and (max-width: 1200px) {
	.buy-often {
		padding-bottom: 30px;
	}
	.cart-order-pay-list__item{
		&:hover {
			border-color: #3498db;
			background: #d9f0ff;

			& + .cart-order-pay-list__item {
				border-top-color: #3498db;
			}
		}
	}
    .accessories-product__img {
    	border-width: 1px;
    }
	.product-box {
		padding: 0 0 16px;
		margin: 0;
	}
	.tab-wrap.tab-wrap_accessorise {
		padding-top: 0
	
}
	.product-box__image {
    	width: 100px;
    	height: 100px;
    	border-radius: 4px;
    	img {
    		border-radius: 10px;
    	}
    }
	.accessories-box__body {
		padding-top: 10px;
	}
    .accessories-popup .modal-body {
		padding-left: 4px;
		padding-top: 0;
		padding-right: 0
	}
	.product-box__title {
		padding-left: 17px
	}
}

@media screen and (max-width: 991px) {
	.cart-page {
		padding-top: 20px;
	}

	.cart-page h1 {
		margin-bottom: 17px;
	}

	.cart-page-subtitle {
		margin-bottom: 12px;
	}

	.cart-deleted-list {

		&__text {
			padding-right: 195px;
		}

		&__btn {
			width: 170px;
		}
	}

	.cart-items-list {
		padding: 26px 30px 28px;
		border: 1px solid #ebedee;
		border-radius: 5px;
		margin-bottom: 15px;

		&__del {
			top: 0;
			right: 0;
		}

		&__item {
			padding: 0 0 30px;
			border-left: none;
			border-right: none;
			border-top: none;
			border-bottom: 1px solid #ebedee;
			margin-bottom: 28px;

			&:hover {
				box-shadow: none;
			}

			&:last-child {
				margin-bottom: 0;
				border-bottom: none;
				padding-bottom: 0;
			}
		}
	}

	.cart-item-pic {
		margin-right: 30px;
		margin-top: 4px;
	}

	.cart-item-descr {
		margin-left: 0;
	}

	.cart-item-info__title {
		line-height: 20px;
	}

	.cart-item-info__code {
		margin: 7px 0;
	}

	.cart-item-info,
	.cart-item-settings {
		float: none;
		width: 100%;
	}

	.cart-item-info {
		max-width: 445px;
		min-height: 145px;
	}

	.cart-item-settings {
		margin-top: 5px;
	}

	.cart-item-settings__top-line,
	.cart-item-settings__bot-line {
		display: inline-block;
		vertical-align: top;
		width: 50%;
	}

	.cart-item-settings__top-line {
		margin-bottom: 0;
	}

	.cart-item-settings__bot-line {
		margin-left: -4px;
	}

	.cart-item-settings__bot-line .tooltip-wrap i {
		color: #3498db;
	}

	.cart-item-settings__title {
		margin-left: 13px;
	}

	.cart-order-list {
		margin-top: 16px;
		margin-bottom: 30px;
		padding: 0 30px 30px;
	}

	.cart-order-block .arrow-cart {
		display: none;
	}
	
	.cart-order-block {
		padding-left: 0;
		padding-right: 0;
	}

	.cart-delivery {
		padding-bottom: 5px;
	}

	.cart-delivery-block {
		overflow: hidden;
		margin-top: 28px;

		&__item {
			float: left;
			width: 41.5%;

			&:first-child {
				width: 58.5%;
			}
		}

		&__label {
			padding-left: 25px;
			letter-spacing: -.5px;
		}
	}

	.cart-delivery-block__label_courier:after {
		right: 30px;
	}

	.cart-delivery-block__label_self:after {
		right: 39px;
	}

	.cart-order-city .arrow-cart-city,
	.cart-order-pay .arrow-cart-pay {
		display: block;
	}

	.cart-pay-method {
		padding-bottom: 33px;
	}

	.cart-order-pay__default {
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.cart-order-block_summ {
		padding-top: 22px;
	}

	.cart-summary-list__item_all {
		margin-top: 12px;
	}

	.cart-summary-list__item_all .cart-summary-list__text {
		margin-top: 5px;
	}

	.cart-summary-list__item_all .cart-summary-list__price {
		font-size: 30px;
		float: left;
		margin-left: 34px;
	}

	.cart-btn-wrapper {
		margin-top: 50px;
	}

	.cart-btn-submit {
		max-width: 230px;
		font-size: 16px;
	}

	.buy-often {

		.product {
			margin-bottom: 25px;
			max-width: 100%;
		}
	}

	.cart-order-city .jq-selectbox__select {
		border-width: 1px;
		height: 39px;
	}

	.cart-order-city .jq-selectbox__dropdown {
		height: 160px;
	}
	.cart-order-city .jq-selectbox__dropdown ul {
		border-radius: 5px;
		border-top: 1px solid #dee1e3;
		border-bottom: 1px solid #dee1e3;
	}
	.cart-order-city .jq-selectbox__dropdown li {
		border-width: 1px;
		position: relative;
		height: 40px;

		&:hover {
			background: transparent;

			span {
				background: #eafaf1;
				display: block;
				padding: 7px 20px;
				position: absolute;
				height: 41px;
				top: -1px;
				left: -1px;
				right: -1px;
				bottom: -1px;
				border: 1px solid #2ecc71;
			}

			&:after {
				display: none;
				height: 1px;
				left: -1px;
				right: -1px;
				bottom: -1px;
			}
		}


		&:first-child {
			border-top-color: transparent;

			&:hover {
				span {
					border-radius: 5px 5px 0 0;
				}
			}
		}

		&:last-child {
			border-bottom: none;

			&:hover {
				span {
					border-radius: 0 0 5px 5px;
				}
			}
		}
	}

	.cart-order-pay-list__item {
		border-width: 1px;
	}

	.buy-often__title {
		margin-bottom: 31px;
	}

	.cart-item-settings .tooltip-content {
		top: 31px;
	}

	.cart-tooltip-content {
		width: 234px;
	}
}

@media screen and (max-width: 767px) {
	.cart-page {
		.container {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

@media screen and (max-width: 580px) {
	.cart-page {
		padding-top: 27px;
	}

	.cart-page h1 {
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 14px;
	}

	.cart-page-subtitle {
		margin-bottom: 7px;
	}

	.cart-deleted-list {
		margin-top: 10px;
	}

	.cart-deleted-list__item {
		margin-bottom: 19px;
	}

	.cart-deleted-block {
		padding-left: 14px;
		padding-right: 14px;
	}

	.cart-deleted-list__text {
		padding-left: 15px;
		padding-right: 15px;
	}

	.cart-deleted-list__btn {
		float: none;
		position: relative;
		top: auto;
		right: auto;
		width: 100%;
		display: block;
	}

	.cart-items-block .cart-page-subtitle {
		padding-left: 14px;
		padding-right: 14px;
	}

	.cart-items-list {
		padding: 13px 12px 30px;
	}

	.cart-items-list__del {
		top: -4px;
	}

	.cart-item-settings__title {
		margin-left: 15px;
	}

	.cart-item-pic {
		width: 100px;
		height: 100px;
		margin-right: 15px;
		margin-top: 0;
	}

	.cart-item-info__title {
		margin: 0 0 8px;
		font-size: 14px;
		letter-spacing: -1px;
	}

	.cart-item-info__code {
		font-size: 12px;
	}

	.cart-item-info__link {
		display: none;
	}

	.cart-item-info .cart-item-info__delivery {
		display: none;
	}

	.cart-item-settings__bot-line .cart-item-info__delivery {
		display: block;
		margin-top: 30px;
	}

	.cart-item-info {
		position: relative;
		height: 100px;
		min-height: 0;
		padding-right: 12px;
		margin-bottom: 10px;
	}

	.cart-item-info__top {
		margin-top: -2px;
	}

	.cart-item-settings__top-line {
		display: block;
		width: 100%;
		margin-bottom: 10px;
	}

	.cart-item-settings__bot-line {
		display: block;
		width: 100%;
		margin-left: 0;
	}

	.cart-item-settings__bot-line .tooltip-wrap {
		margin-top: 4px;
	}

	.cart-items-list__item {
		padding-bottom: 30px;
		margin-bottom: 15px;
	}

	.cart-order-list {
		padding-left: 15px;
		padding-right: 15px;
		margin-top: 29px;
		padding-bottom: 0;
	}

	.cart-order-block {
		padding-top: 12px;
	}

	.cart-delivery {
		padding-bottom: 45px;
	}

	.cart-delivery-block__item {
		width: 100%;
		float: none;

		&:first-child {
			width: 100%;
		}
	}

	.cart-delivery-block__label {
		padding-right: 38px;
	}

	.cart-delivery-block__label_courier:after {
		right: 0;
	}

	.cart-delivery-block__label_self:after {
		right: 8px;
	}

	.cart-order-block .arrow-cart {
		display: block;
	}

	.cart-order-city .arrow-cart-city, 
	.cart-order-pay .arrow-cart-pay {
		display: none;
	}

	.cart-order-pay__default {
		padding-right: 30px;
	}

	.cart-order-pay-list__item {
		padding-right: 30px;
		letter-spacing: -1px;
	}

	.cart-pay-method {
		padding-bottom: 31px;
	}

	.cart-summary-list__price {
		font-weight: 500;
	}

	.cart-summary-list__item_all .cart-summary-list__price {
		float: right;
		margin-left: 0;
		font-family: 'Ubuntu', Arial, sans-serif;
	}

	.cart-order-block__summ {
		padding-bottom: 0;
	}

	.cart-summary-list__item {
		line-height: 29px;
	}

	.cart-summary-list__item_all {
		margin-top: 26px;
	}

	.cart-btn-wrapper {
		margin-top: 20px;
	}

	.cart-btn-submit {
		max-width: 100%;
	}

	.buy-often__title {
		font-size: 18px;
		line-height: 22px;
		font-weight: 500;
		font-family: 'Ubuntu', Arial, sans-serif;
		padding-left: 11px;
		margin: 8px 0 12px;
	}

	.buy-often {
		padding-bottom: 0;

		.row {
			margin-left: -19px;
			margin-right: -19px;
		}

		.product {
			margin-bottom: 17px;
			border: none;
			padding: 15px;
		}

		.product__img {
			width: 100px;
			height: 100px;
			border: 1px solid #ebedee;
			border-radius: 3px;
			float: left;

			img {
				border-radius: 3px;
			}
		}

		.product-middle {
			margin-top: -5px;
			margin-left: 115px;
		}

		.product__title {
			font-size: 15px;
			line-height: 20px;
		}

		.product-right {
			margin-left: 115px;
			margin-top: 10px;
		}

		.product__cost {
			padding-right: 0;
			min-width: 0;
			font-size: 24px;
			font-weight: 500;
			font-family: 'Ubuntu', Arial, sans-serif;

			.rub {
				font-size: 24px;
			}
		}

		.product .btn-cart {
			margin-right: 0;
		}

		.product__old_price {
			display: none;
		}

		.discount{
			display: none;
		}

		.links-actions {
			display: none;
		}
	}
}



@media screen and (max-width: 1200px) {
	.order-result-popup .modal-dialog
	{
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media screen and (min-width: 1101px) {

	.accessories-box
	{
		&__head {
			display: none;
		}
	}
	.nav-tabs
	{
		&.nav_accessorise 
		{
			display: table-cell;
			width: 202px;
			min-width: 202px;
			color: #3498db;
			border: none;
			float: left;
			& > li.active > a, & > li.active > a:hover, & > li.active > a:focus {
				border:none;
				color: #2c3e50;
			}
			& > li > a {
				border:none;
				color: #3498db;
				font-size: 15px;
				padding: 8.5px 0;
				margin: 0;
			}
			& > li > a:hover, & > li > a:active, & > li > a:focus {
				border:none;
				color: #2c3e50;
			}
		}	
	}
	
	.tab-wrap {
		&.tab-wrap_accessorise{
			display: table;
			width: 100%;
			padding: 10px 0 0;
		}
	}

	.tab-content_accessorise {
		display: table-cell;
	}
}
@media screen and (max-width: 1100px) {

	.product-box {
		border-bottom: none;
		position: relative;

		&:after {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: -28px;
			right: -28px;
			background: #ecf0f1;
			height: 1px;
		}
	}
	.accessories-box {
		cursor: pointer;
	}
	.accessories-box__title {
		color: #3498db;
	}
	.accessories-box__head.open {

		.accessories-box__title {
			color: $main;
		}
	}

	.product-box__title {
		font-size: 18px;
		line-height: 20px;
	}

	.nav-tabs.nav_accessorise
	{
		display: none;
	}
	.accessories-box
	{
		padding-top: 0;
		border-bottom: 1px solid #ecf0f1;
		&__head {
			width: 100%;
			padding: 11px 30px 11px 0;
			position: relative;

			&>i {
				position: absolute;
				right: 22px;
				top: 16px;
			}
		}
	}
	.tab-wrap_accessorise .tab-content > .tab-pane {
		display: block;

		&:last-child {
			.accessories-box {
				border-bottom: none;
			}
		}
	}

	.accessories-box__body {
		display: none;
		padding-bottom: 40px;

		.slick-dots {
			bottom: 15px;
		}
	}

	.accessories-product {
		padding-left: 5px;
		padding-right: 5px;
		margin-right: 0;
		display: block;
		max-width: 100%;
	}
	.tab-content_accessorise .tab-pane:first-child .accessories-box__body {
		display: block
	}
}

@media screen and (max-width: 991px) {
	.modal-dialog.modal-dialog_accessories {
		width: 600px;
	}
}

@media screen and (max-width: 767px) {
	.order-result-popup .modal-dialog {
		padding: 11px 0px;
	}
	.order-result-popup .pop-up .modal-dialog .modal-content {
		border: 0;
		padding: 0 0px 12px 0;
	}
	.pop-up.order-result-popup .modal-header
	{
		margin: 0;
		border-bottom:none;
		&__text
		{
			font-size: 14px;
			margin: 11px 25px 2px;
			padding-bottom: 10px;
			border-bottom: 1px solid #ebedee;
		}
		&__title
		{
			font-size: 18px;
			font-weight: 700;
			border-bottom: 5px solid #3498db;
			padding: 6px 25px 14px;
			margin: 0;
			text-transform: none;
		}
	}
	.pop-up.order-result-popup .modal-body {
		padding: 9px 25px 0;
	}
	.form-group__label_time {
		margin-top: 10px;
	}
	.pop-up.order-result-popup .form-control_comment {
		height: 104px;
		resize: none;
	}
	.btn.btn_order-result {
		margin-top: 22px;
		height: 50px;
	}

	.pop-up.order-result-popup .modal-footer {
		padding-left: 25px;
		padding-right: 25px;
	}
}