﻿.catalog-general{
  position: relative;
  &:after{ @include clearafter(); }
  padding-bottom: 6px;
  > div{
    position: relative;
    padding-top: 30px;
    padding-left: 21px;
     &:nth-child(4n + 1){
      clear: both;
    }
    &:nth-child(n+5){
      padding-top: 52px;
      &:before{
        content: "";
        display: block;
        width: 130px;
        height: 3px;
        background:  #ebedee;
        @include radius(2px);
        position: absolute;
        top: 17px;
        left: 50%;
        margin-left: -65px;
     }
      h3{
        i{ top: 0px; }
      }
    }
    h3{
      padding-left: 48px;
      position: relative;
      height: 26px;
      line-height: 19px;
      margin:  0 0 9px;
      i{
        font-size: 26px;
        color:  #2c3e50;
        position: absolute;
        left: 0;
        top: 2px;
      }
      a{
        @include font(18px,22px,#34495e,500);
        &:hover{ color: #27ae60; border-bottom: 1px solid #a3e9c1; }
      }
    }
    ul{ list-style: none; margin-bottom: 0;}
    li{
      padding: 9px 25px 9px 48px;
      a{
        @include font(15px,18px,#3498db,300);
        &:hover{
          color: #2ecc71;
          text-decoration: underline;
        }
      }
    }
  }

}

.catalog-categories-menu{
  &__item{
      position: relative;
        border-bottom: 1px solid #ebedee;
        &:first-child{
          border-top: 1px solid #ebedee;
            }
        h3{
          margin: 0;
            display: table;
            width: 100%;
            position: relative;
          > a{
                position: relative;
          width: 100%;
          display: table-cell;
          vertical-align: middle;
          text-align: left;
                    padding: 30px 0 26px 54px;
                    @include font(18px,20px,#2c3e50,500);
                  @include animate(0.3s,color);
          &:hover{
            color: #3498db;
          }
              }
                i{
                  font-size: 24px;
                    color: #000;
                    position: absolute;
                    left: 14px;
                    top: 50%;
                    margin-top: -12px;
                    @include animate(0.3s,color);
                }
              &:hover{
                background: rgba(235,237,238,.5);
                 @include animate(0.3s,background);
                  i{ color: #3498db; }
               }
        }
        ul{
          list-style: none;
            display: none;
            margin: 0;
         background: #f5f7f8;
         @include radius(0 0 5px 5px);
         padding: 0 0 12px 15px;
                  a{
           display: block;
           padding: 11px 15px 12px 13px;
           @include font(15px,17px,#2c3e50,400);
           @include radius(5px 0 0 5px);
           border: 2px solid transparent;
                      border-right: none;
                      margin-bottom: -2px;
                   @include animate(0.3s,background);
                   @include animate(0.3s,color);
           &:hover, &.active{
             background: #fff;
             color: #3498db;
             border-color: #ecf0f1;
                          text-decoration: underline;
            }
          }
        }
        &.active{
          border-bottom: 1px solid transparent;
            > ul {
         display: block;
        }
            h3{
                background: #ebedee;
                  i{ color: #3498db; }
                  > a{ color: #3498db; }
               }
        }
    }
}

h3.catalog-categories-list__heading{
  @include font(24px,27px,#34495e,500);
  margin: 56px 0 25px;
}
.catalog-categories-list{
  margin: 0 -15px;
    &:after{ @include clearafter(); }
  &__item{
    position: relative;
    margin-bottom: 28px;
    height: 270px;
    .item-illustration{
      position: relative;
      height: 270px;
      overflow: hidden;
      @include radius(5px);
    }
    img{
      min-width: 100%;
      min-height: 100%;
      opacity: 1;
      display: block;
      @include animate(0.3s,opacity);
            @include radius(5px);
      position: absolute;
      left: 50%;
      top: 50%;
      @include transform-translate(-50%,-50%);
      max-width: none;
    }
    &:hover img{
      opacity: 0.75;
    }
    h4{
      position: absolute;
      left: 30px;
      right: 30px;
      top: 14px;
      margin: 0;
      padding: 0;
      @include font(18px,16px,#fff,300);
    }
    a{
      position: absolute;
      left: 15px;
      right: 15px;
      height: 100%;
      z-index: 5;
            i{
              position: absolute;
        width: 40px;
        height: 40px;
        background: #2980b9;
        @include radius(50%);
        left: 15px;
        bottom: 13px;
        text-align: center;
        padding-left: 2px;
                @include animate(0.3s,background);
                &:before{
                    @include before();
                    width: 38px;
                    height: 40px;
                    font-family: 'FontAwesome';
                    @include font(14px, 40px,#fff,700);
                    font-style: normal;
                    content: "\f054";
                }
                &:hover{ background: #3498db; }
      }
    }
  }
}

.slider-delivery__item{
  position: relative;
  @include radius(5px);
  height: 270px;
  overflow: hidden;
  background: #3498db;
  a{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  .slider-delivery__img{
    position: absolute;
    left: 0;
    top: 0;
    width: 41%;
    height: 100%;
    overflow: hidden;
    @include radius(5px 0 0 5px);
    &img{
      height: 100%;
      width: auto;
      display: block;
      right: 0;
      top: 0;
      position: absolute;
      max-width: none;
      @include radius(5px);
    }
  }
  .slider-delivery__info{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: 25px 5% 0 43%;
    font-family: $font-second;
    @include font(34px,40px,#fff,700);
    h5{
      padding: 0;
      margin: 0;
            max-height: 120px; overflow: hidden;
    }
    hr{
      margin: 16px 0 26px 16.3%;
      border: none;
      height: 1px;
      overflow: hidden;
      background: #fff;
      width:56%;
      margin-left: 16.5%;
    }
    .slider-delivery__price{
      strong{
        font-size: 40px;
        font-weight: 900;
                margin-left: -4px;
      }
      span{
        font-size: 40px;
                font-weight: normal;
                padding-left: 5px;
      }
    }
    .icon-approve{
      display: block;
      position: absolute;
      right: 4px;
            top: 178px;
      width: 90px;
      height: 88px;
      background: url(../img/icons/icon-recommend.png);
    }
  }
}
.slider-delivery{
  .slick-arrow{ display: none !important; }
  .slick-dots {
    bottom: 15px;
    li button {
      background: rgba(255,255,255,.5);
      &:hover{ background: #fff; }
    }
    li.slick-active button{ background: #fff; }
  }
    height: 270px;
    overflow: hidden;
}
.catalog-category-heading{
  @include font(24px,27px,#34495e,500);
    margin: 27px 0;
    & + .catalog-product-tabs{
    margin: -9px 0 -7px 0;
    .nav-tabs{
    border-bottom: 2px solid #eff3f3;
    & > li.active > a, & > li.active > a:hover, & > li.active > a:focus {
      border-color: #eff3f3;
    }
    }
  }
}
.catalog-product{
  padding-top: 22px;
    &.more-product{ padding-bottom: 5px; }
  .slider-products .product__img{
    margin-bottom: 0;
    display: block;
    height: 170px;
    text-align: center;
        width: 100%;
  }
    .product-middle{ margin-top: 0; }
  .product {
    border: 1px solid #ebedee;
  }
    .slider-products{
        .product__title{
            font-family: $font;
            font-size: 15px;
            line-height: 20px;
        }
        .discount{ margin: 0 0 0 15px; }
    }
  .slider-products .slick-arrow,
  .product-before-slider .slick-arrow {
    margin-top: -60px;
    background: #ebedee;
        opacity: 0.65;
        &:hover{ opacity: 1; }
  }
  .slick-prev:before, .slick-next:before {
    color: #3498db;
  }
    .slick-prev{
      left: 16px;
    }
    .slick-next{
      right: 15px;
    }
    .slider-products .slick-dots {
    bottom: 0px;
  }
    & + .catalog-category-heading{ margin: 22px 0 27px; }
}
.catalog-about{
  color: #2c3e50;
    padding: 32px 0 0;
  p{ line-height: 22px; font-size: 15px; }
  .section-seo-title{ font-size: 18px; }
}
.catalog-menu .aside-seo{
  font-family: $font;
    margin-top: 15px;
    padding: 0;
    > strong{ @include font(15px,18px,#2c3e50,500); display: block; padding-bottom: 25px; }
    p{ font-size: 13px; line-height: 21px; }
}

.slider-info-wrap.slider-on-top{
  margin-top: 0;
}

@media (max-width: 1199px) {
#header {
        padding-top: 75px;
        }
    .catalog-categories-list__item{ width: 50%; }
    .catalog-categories-menu__item{
       h3{
            > a {
            height: auto; padding: 12px 40px 11px 69px;
       position: relative;
         &:after{
           @include before();
           font-family: 'FontAwesome';
           content: "\f078";
           @include font(18px,18px,#bdc3c7,400);
           right: 14px;
           top: 50%;
           margin-top: -9px;
         }
                br{ display: none; }
            }
              i{ top: 50%; margin-top: -13px; left: 23px; }
          }
     & > ul{
       padding: 2px 0;
       @include radius(0);
       a{
          padding: 13px 40px 13px 69px;
          border: none;
                    &:hover, &.active{ background: none; }
        }
     }
     }
    .slider-delivery-wrap{ width: 100%; }
    .slider-info-wrap.slider-on-top{ margin-top: 50px; }
    .catalog-menu{
      padding-top: 5px;
      .aside-seo{
          margin-top: 22px;
          > strong{ padding-bottom: 0px; font-size: 15px; line-height: 25px; }
            p{ font-size: 15px; line-height: 25px; }
      }
    }
    .catalog-product .slider-products .slick-dots{ bottom: 5px; }
    .catalog-category-heading{ margin: 55px 0 8px; }
}
@media (max-width: 767px) {
#header {
        padding-top: 62px;
        }
.catalog-categories-list__item{
  width: 100%;
    max-width: 380px;
    margin: 0 auto 15px;
    }
h3.catalog-categories-list__heading{
    font-size: 18px;
    line-height:20px;
    margin: 25px 0 12px;
}
.catalog-menu .aside-seo{
    margin: 22px 0 -4px;
    p{ font-size: 15px; line-height: 23px; }
}
.catalog-categories-menu__item h3 > a {
    height: auto;
    padding: 10px 40px 11px 69px;
    position: relative;
        &:after{ font-size: 16px;  }
}
.catalog-categories-menu__item {
   h3{
       > a{
          font-size: 15px;
            line-height: 20px;
            font-weight: 400;
        }
    }
    & > ul a{ padding-left: 28px; }
}
.catalog-product .slider-products{
  .product__img img{
    max-height: 98%;
  }
    .product__title{ max-height: 40px; }
    .product__cost {
    display: inline-block;
    font: 700 29px/1 "ALSSchlangesans", arial, verdana, sans-serif;
    min-height: 47px;
    min-width: 124px;
    padding-right: 10px;
        .rub { font-size: 23px; }
        .product__old_price {display: block;  margin-top: 0; margin-left: 8px; .rub { font-size: 12px; } }
    }
    .discount { display: inline-block !important; margin-left: 0; }
}
.slider-delivery-wrap{
  width: 100%;
  max-width: 380px;
    margin: 0 auto 5px;
}
.slider-delivery__item{
  width: 100%;
  max-width: 380px;
  height: auto;
  .slider-delivery__img{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    @include radius(5px);
    & img{
      height: auto;
      width: auto;
            max-width: 100%;
      right: auto;
            left: 0;
      bottom: 0;
    }
  }
  .slider-delivery__info{
    position: relative;
    width: 100%;
    padding: 12px 15px 110px;
    @include font(28px,33px,#fff,700);
        h5{ max-height: none; }
    hr{ display: none; }
    .slider-delivery__price{
        padding-top: 14px;
      strong{
        font-size: 48px;
        font-weight: 900;
        display: inline-block;
      }
      span{
        font-size: 30px;
      }
    }
    .icon-approve{ display: none; }
  }
}
.catalog-menu{
      padding-top: 0; margin-top: -5px;
    }
.catalog-category-heading{
  margin: 15px 0 -9px;
    font-size: 18px;
        & + .catalog-product-tabs .nav-tabs {
              border-bottom: none;
              margin-bottom: -33px;
              > li { width: 165px;
                a{ display: block; width: 100%; font-size: 15px; }
              }
        }
    }

.catalog-about{ padding-left: 7px;
    .section-seo-title{ margin-bottom: 25px; }
    }
}