﻿/* compare items */
.compare-block{
  width: 100%;
		position: relative;
  margin-top: -10px;
  form{
    position: relative;
    &:after{ @include clearafter(); }
  }
  h1{
    padding-top: 10px;
    font-size: 38px;
    line-height: 1.1;
    margin: 0 0 27px -3px;
    position: relative;
  }
}
.compare-block-sticky{
  position: relative;
  padding-bottom: 6px;
  &:after{ @include clearafter(); }
  &:before{
    @include before();
    @include shadow( 0, 4px, 6px,0, rgba(44,62,80,.2) );
    height: 100%;
    background: #fff;
    width: 2000px;
    left: 50%;
    margin-left: -1000px;
    bottom: 0;
  }
}
.compare-block-tools{
  position: relative;
  width: 196px;
  float: left;
  padding-top: 27px;
  .button{
    position: relative;
    height: 44px;
    padding: 14px 0 0 46px;
    @include radius(10px);
    @include font(15px,1,#7f8c8d,400);
    cursor: pointer;
    display: block;
      -moz-transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      -ms-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: background, color;
      -ms-transition-property: background, color;
      -o-transition-property: background, color;
      -moz-transition-property: background, color;
      transition-property: background, color;
    &:hover{
      color: #3498db;
    }
    &.active{
      color: #fff;
      background: #3498db;
      &:hover{ color: #fff; }
    }
    &:before{
      @include before();
      font-family: 'FontAwesome';
      content: "";
      font-size: 15px;
      left: 15px;
      top: 15px;
    }
    &.hide-difference:before{ content: "\f070"; }
    &.show-difference:before{ content: "\f06e"; }
    &.add-to-compare:before{ content: "\f055"; left: 17px; }
    &.delete-all:before{ content: "\f057"; left: 17px; }
  }
  hr{
    border: none;
    margin: 15px 0 17px;
    background: #bdc3c7;
  }
}
.compare-items-count{
  position: absolute;
  left: 17px;
  @include font(15px,1,$main,400);
}
.compare-block-itemslist{
  position: relative;
  width: 900px;
  float: right;
  margin-right: -15px;
}
.compare-block-info{
  overflow: hidden;
  &:after{ @include clearafter(); }
  ul{
    width: 100%;
    list-style: none;
    border-bottom: 1px solid #ecf0f1;
    li{
      border-top: 1px solid #ecf0f1;
      @include font(15px,18px,#2c3e50,400);
      background: #fff;
      position: relative;
      &:nth-child(even){ background: #f5f7f8; }
      p{
       vertical-align: middle;
       padding: 12px 4px 18px 16px;
       margin: 0;
       line-height: 1;
       & .fa-rub{ font-size: 13px; }
      }
      .compare-block-info__data p{ color: #5d6874; }
      &.line-highlight{
        background: #cce5f6;
        border-top: 1px solid #bedaeb;
        &:after{
          @include before();
          height: 1px;
          width: 100%;
          left: 0;
          bottom: -1px;
          background: #bedaeb;
          z-index: 3;
        }
      }
    }
  }
  .compare-block-info-details{
    width: 915px;
    overflow: hidden;
    float: right;
    margin-right: -15px;
    .compare-block-info-pos{
      &:after{ @include clearafter(); }
    }
    .compare-block-info__item{
      width: 33.3333%;
      float: left;
      ul{
        margin: 0;
        padding-top: 63px;
        li{ padding: 0 15px 0 20px; }
      }
    }
  }
  .compare-block-info-labels-pos{
    width: 270px;
    float: left;
    ul { margin: 0; }
				li{
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex;
						  -ms-flex-align: center;
								-webkit-align-items: center;
								-webkit-box-align: center;
								align-items: center;
				}
    h4{
      height: 63px;
      @include font(22px,1,$main,500);
      padding: 29px 0 0 0;
      margin: 0;
      white-space: nowrap;
    }
  }
  &:after{ @include clearafter(); }
}
.compare-block-sticky.fixed{
  position: fixed;
  width: 1170px;
  top: 76px;
  background: #fff;
  z-index: 20;
    .catalog-compare-product {
	  height: 145px
  }
  .compare-block-tools{
    hr, .add-to-compare, .delete-all{ display: none; }
  }
  .compare-delete-item{
    right: 3px;
    top: 0px;
    width: 15px;
    height: 15px;
    &:before{
      font-size: 21px;
      line-height: 0.85;
      left: -2px;
    }
  }
  .product{
    min-height: 115px;
    padding: 15px 13px 12px;
    border: 1px solid #eff1f1;
    min-height: 115px;
    .product__img{
      width: 86px;
      height: 86px;
      line-height: 75px;
      border: 1px solid #eff1f2;
      @include radius(5px);
      overflow: hidden;
      float: left;
	  transition: none;
    }
    .product-middle {
      margin-top: -4px;
      float: left;
      width: 150px;
      padding-left: 14px;
    }
    .product-country,
    .list-descr,
    .list-descr-1,
    .product__old_price,
    .discount,
    .links-actions{
      display: none;
    }
    .product-right {
      margin-top: 6px;
      float: left;
      width: 150px;
      padding-left: 14px;
      .product__cost {
        margin-top: 2px;
        font-size: 23px;
        min-height: 25px;
        min-width: 0;
        padding-right: 0;
        width: 95px;
        .rub { font-size: 24px;  }
      }
    }
    .btn-cart {
      float: right;
      margin: 5px 9px 0 0px;
      font-size: 16px;
      height: 30px;
      line-height: 30px;
      width: 30px;
      @include radius(50%);
      .fa{ margin-right: 2px; }
    }
  }
  & + .compare-block-info{
    padding-top: 240px;
  }

}
.catalog-compare-product{
	float: left;
	height: 420px;
	overflow: hidden;
	* {
		transition: none
	}
  .product__cost{ margin-top: -3px; }
  .slick-dots { bottom: 6px; }
  .slick-arrow{
    top: 0;
    margin-top: -45px;
    &.slick-disabled:hover {
      color: #95A5A6;
    }
  }
  .slick-prev, .slick-next {
    &.slick-disabled, &.slick-disabled:hover {
      display: inline-block;
      opacity: 0.5;
    }
    &.slick-disabled:hover:before {
      color: #95A5A6;
    }
  }
  .slick-prev{ left: auto; right: 55px; }
  .slick-next{ right: 15px; }
  .slick-prev:hover:before,
  .slick-next:hover:before{
    color: #2980b9;
   }
}
.js .catalog-compare-product {
	float: none  !important;
	height: auto !important;
  overflow: visible
}
.compare-delete-item{
  position: absolute;
  right: 10px;
  top: 9px;
  z-index: 5;
  width: 30px;
  height: 30px;
  background: #34495e;
  @include radius(50%);
  cursor: pointer;
  &:before{
    @include before();
    font-family: 'FontAwesome';
    content: "\f057";
    font-size: 36px;
    line-height: 0.88;
    color: #fff;
  }
  &:hover{
    background: #5a6775;
  }
}
.compare-none {
  display: none;
  margin: 15px 0 0 104px;
  float: left;
  padding: 26px 28px;
  width: 770px;
  background: #ebedee;
  @include font(22px,30px,#5d6874,300);
  @include radius(10px);
  p{ padding: 0; margin: 0; }
  &__add-link {
    border-bottom: 1px solid #3498db;
  }
  a{
    display: inline-block;
    position: relative;
    padding-left: 24px;
    margin: 0 5px 0 11px;
    color: $linkColorActive;
    &:before{
      @include before();
      font-family: 'FontAwesome';
      left: 0px;
      content: "\f055";
      text-decoration: none;
      }
    &:hover .compare-none__add-link {
      border-bottom: none;
    }
   }
}
@media (min-width: 1200px) {
	.catalog-compare-product .product-block {
		float: left;
		width: 300px
	}
}
@media (max-width: 1199px) {
.compare-block{
	margin: 0 auto;
	width: 100%;
  h1{
    padding-top: 0px;
    font-size: 23px;
    line-height: 1.1;
    margin: 0 0 24px;
  }
}
.compare-block-itemslist{
  width: calc(100% - 196px);
	float: left;
  margin: -15px -35px 0 5px;
  .product-block{ padding: 0 27px; }
  .product{
    border: none;
    padding: 0;
    min-height: 232px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    .product-country,
    .list-descr,
    .list-descr-1,
    .product__old_price,
    .discount,
    .links-actions{
      display: none;
    }
    .product__cost{
      margin: -7px 0 0 -1px;
      min-height: 25px;
      min-width: 0;
      font-size: 23px;
      padding-right: 5px;
      .product__cost .rub{ font-size: 24px; }
    }
    .btn-cart {
      float: right;
      margin: -3px 9px 0 0px;
      font-size: 16px;
      height: 30px;
      line-height: 30px;
      width: 30px;
      @include radius(50%);
      .fa{ margin-right: 2px; }
    }
  }
  .product__img{
    width: 100%;
    height: 140px;
    line-height: 136px;
    border: 1px solid #ebedee;
    @include radius(3px);
  }
}
.catalog-compare-product .slick-dots{
  bottom: 6px;
		padding-right: 20px;
}
.compare-delete-item{
  right: 5px;
  top: 6px;
  width: 14px;
  height: 15px;
  &:before{
    font-size: 21px;
    line-height: 0.8;
    margin-left: -2px;
  }
}
.compare-items-count{ left: 15px; }
.compare-block-sticky.fixed{
  position: fixed;


  top: 76px;
  h1{
    margin: 10px 0 30px 2px;
    font-size: 22px;
  }
  .button.active{
    background: #fff;
    color: #3498db;
  }
  .compare-block-itemslist{
    margin: -52px -35px 0 5px;
    .product{
      min-height: 150px;
      padding: 0;
      border: none;
      .compare-delete-item {
        right: 2px;
        top: -5px;
        &:before{
          line-height: 0.9; left: 0px;
        }
      }
     .product-right {
       margin-top: 0px;
       width: 150px;
       padding-left: 1px;
       .product__cost {
         margin-top: 3px;
         font-size: 19px;
         width: 85px;
         .rub{ font-size: 20px; }
       }
     }
     .product__img {
       width: 70px;
       height: 70px;
     }
     .product-middle {
       margin-top: 7px;
	   float: none;
       padding-left: 0;
     }
     .product__title{
       height: 36px;
       font-size: 13px;
       line-height: 19px;
     }
     .btn-cart {
       margin: 0px 23px 0 0px;
     }
    }
  }
}
.compare-block-info{
  width: 100%;
  padding-left: 15px;
  ul li{
    padding-right: 15px;
    p{ padding: 14px 4px 17px 16px; }
  }
  .compare-block-info-labels-pos{
    width: 196px;
  }
  .compare-block-info-details{
	  margin-right: 0;
    width: calc(100% - 196px);
    .compare-block-info__item ul li {
    padding: 0 15px 0 0px;
    }
  }
}
.compare-none {
  margin: 15px -20px 0 19px;
  padding: 9px 13px;
  width: 370px;
  font-size: 16px;
  line-height: 24px;
  a{
    padding-left: 18px;
    margin: 0 5px 0 8px;
  }
}
	.catalog-compare-product {
	  height: 262px;
	}
	.compare-block-sticky.fixed .catalog-compare-product {
		height: 180px;
	}
}
@media (max-width: 767px) {
.compare-block{
	max-width: 100%;
	width: 300px;
		margin: 0 auto;
  h1 {
    padding-top: 0px;
    font-size: 25px;
    line-height: 0.9;
    margin: 0px 0 10px 0px;
  }
}
.compare-items-count{
  position: relative;
  clear: both;
  left: auto;
  width: 93%;
  text-align: center;
  padding-top: 37px;
}
.compare-block-tools{
  padding-top: 0;
		float: none;
  .button{
    height: 25px;
    padding: 5px 0 0 18px;
    font-size: 13px;
    &:before{
      font-size: 12px;
      left: 0;
      top: 5px;
    }
    &.add-to-compare:before,
    &.delete-all:before {
      left: 0;
    }
    &.active { color: #3498db; background:#fff; }
  }
  hr{ margin: 9px 0 10px; }
}
.compare-block-itemslist{
  width: auto;
  float: none;
  margin: -5px -15px 0;
  padding-bottom: 35px;
  .product-block{
    padding: 13px;
    border: 1px solid #ebedee;
    @include radius(5px);
  }
  .product__img {
    width: 100px;
    height: 100px;
    line-height: 100px;
    border: 1px solid #ebedee;
    @include radius(10px);
  }
  .product__title {
    height: 39px;
    font-size: 13px;
    line-height: 18px;
    padding-top: 5px;
  }
  .product{
    min-height: 193px;
    margin-bottom: 0;
    .product__cost {
      margin: 6px 0 0 -3px;
      font-size: 19px;
      .rub { font-size: 19px; }
    }
    .btn-cart {
      margin: 3px 12px 0 0px;
    }
  }
  .catalog-compare-product{
    .slick-dots {
      bottom: -24px;
    }
    .slick-prev{ right: auto; left: 6px;}
    .slick-next{ right: 7px; }
  }
}
.compare-delete-item{
  top: -4px;
  right: -5px;
}
.compare-block-info {
  padding-left: 0;
  width: auto;
  margin-left: -15px;
  margin-right: - 15px;
  .compare-block-info-labels-pos{
    position: absolute;
				width: 100%;
    h4 { padding: 29px 0 0 15px; font-size: 18px; }
    li{ background: none; border: none; display: block; }
    ul li p {
		font-weight: 500;
      padding: 13px 4px 17px 16px;
      position: relative;
      z-index: 3;
    }
  }
  .compare-block-info-details{
    width: 100%;
    ul li p {
      padding: 40px 0 17px 15px;
      font-size: 14px;
						.fa-rub { font-size: 12px; }
    }
  }
}
.compare-block-sticky.fixed {
    position: fixed;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    top: 64px;
    h1,
    .compare-block-tools { display: none; }
    .compare-items-count{ width: 99%; padding-top: 14px; }
    .compare-block-itemslist {
      margin: -5px -15px 0;
      padding-bottom: 31px;
    }
    .product-block {
      padding: 13px 13px 10px;
    }
    .compare-block-itemslist .product{
      .compare-delete-item {
        right: -8px;
        &:before{ top: -1px; }
      }
      .product__img{
        width: 100px;
        height: 100px;
      }
      .product-right{
        display: none;
      }
      .product__title {
        height: 40px;
        font-size: 13px;
        line-height: 19px;
		margin-top: 7px;
      }
    }
.catalog-compare-product .slick-arrow { top: -2px; }
.catalog-compare-product .slick-next { right: 4px; }
.compare-block-itemslist .catalog-compare-product .slick-dots{ bottom: -23px; }
}
.compare-none {
    margin: -6px -17px -12px;
    padding: 9px 18px;
    width: 300px;
    font-size: 13px;
    line-height: 23px;
    float: none;
	a {
      padding-left: 15px;
      margin: 0 5px 0 5px;
    }
}
	.compare-block-sticky.fixed .compare-block-itemslist .product .product-middle {
		width: 100%
	}
	.catalog-compare-product {
		height: 221px;
	}
	.compare-block-sticky.fixed .catalog-compare-product {
		height: 177px;
	}
}
@media (max-width: 350px) {
	.compare-block-sticky.fixed .compare-block-itemslist {
		margin-left: 0;
		margin-right: 0;
	}
}