﻿.promo-demo-2 {
    background-image: url("../img/promo-demo_bg_2.jpg?ver1.2");
    margin-top: 21px;
}
.promo-text {
    color: #667587;
    line-height: 1.6;
    margin-top: 23px;
    margin-right: 15px;
}
.promo-text-main {
    border-bottom: 1px solid $line;
    margin-right: 0;
    margin-top: 55px;
    padding-bottom: 3px;
    p {
        margin-bottom: 24px;
    }
}
.promo-text-main-2 {
    border-bottom: 1px solid $line;
    margin-top: 25px;
    margin-right: 0;
    padding-bottom: 6px;
}
.confirm-promo {
    background: $color3 url('../img/pattern_promo.png?ver1.2');
    margin: 31px 0 53px;
    padding: 23px 0 29px;
    text-align: center;
    p {
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        text-align: left
    }
    .btn-19 {
        margin-top: 6px
    }
}
.pr-slider {
    margin-top: 53px;
}
.characteristics {
    padding: 53px 0 40px;
}
.characteristics__heading {
    color: $color1;
    font: 700 34px/1.2 $font-second;
    letter-spacing: 0.01em;
    margin-bottom: 11px;
}
.characteristics__subheading {
    color: $main;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 1.35;
    margin-bottom: 6px
}
.characteristics__description {
    color: $text_grey;
    line-height: 1.6
}

.pr-slider-2 {
    .characteristics__heading {
        margin-bottom: 24px
    }
    .selection__img {
        height: 165px;
        line-height: 128px;
    }
}
.promo-functional {
    margin-top: 54px;
    .characteristics__description {
        margin-bottom: 15px
    }
}
.functional__item, .characteristic, .selection__item {
    cursor: pointer;
    padding: 19px 15px;
    position: relative;
    &.active .selection__border, &.active:hover .selection__border {
        border-color: $linkColorActive;
    }
    .jq-checkbox, .jq-radio {
        font-size: 17px;
        position: absolute !important;
        right: 4px;
        top: 10px;
    }
    .jq-checkbox .jq-checkbox__div:before, .jq-radio .jq-radio__div:before {
        content: "";
    }
    .jq-checkbox.checked .jq-checkbox__div:before, .jq-checkbox.checked:hover .jq-checkbox__div:before,
    .jq-radio.checked .jq-radio__div:before, .jq-radio.checked:hover .jq-radio__div:before  {
        content: "\f058";
        color: #0098de;
    }
}
.selection, .functional {
    .slick-dots li.slick-active button, .slick-dots li button:hover {
        background-color: rgba($main,.5);
    }    
}
.characteristic {
    display: block;
    padding: 25px 30px 29px
}
.functional .selection__border {
    border-color: $border-color;
}
.functional__item {
    padding-bottom: 33px;
    padding-top: 0;
    position: relative;
}
.functional__title {
    display: table;
    height: 73px;
    table-layout: fixed;
    width: 100%;
}
.functional__icon {
    display: table-cell;
    padding-left: 5px;
    width: 55px;
    vertical-align: middle;
    i {
        color: #2980b8;
        font-size: 30px;
    }
}
.functional__heading {
    display: table-cell;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    padding-bottom: 8px;
    vertical-align: middle;
}
.active .functional__heading {
    color: $linkColorActive
}
.functional__description {
    color: $text_grey;
    display: block;
    margin-top: -11px;
    line-height: 1.6;
}
.characteristic-block {
    padding-top: 42px
}
.characteristic__heading {
    display: block;
    font-size: 20px;
    font-weight: 500;
    height: 52px;
    line-height: 1.2;
    margin-bottom: 26px;
    overflow: hidden;
}
.characteristic__img {
    display: block;
    float: left;
    height: 320px;
    margin: -4px 41px 0 0;
    text-align: center;
    width: 45%
}
.characteristic__description {
    display: block;
    line-height: 1.6
}
.note-promo {
    background: $linkColorActive;
    color:  #fff;
    letter-spacing: 0.01em;
    line-height: 1.6;
    margin-top: 20px;
    padding: 54px 0 36px;
    p {
        overflow: hidden
    }
}
.note-promo__icon {
    border: 4px solid #fff;
    border-radius: 35px;
    float: left;
    height: 70px;
    font-style: normal;
    line-height: 60px;
    margin: 6px 30px 0 0;
    text-align: center;
    width: 70px;
    &:before {
        content: '';
        background: url('../img/icons/sprite.png?ver1.0') -150px -163px no-repeat;
        display: inline-block;
        height: 26px;
        margin-left: 2px;
        vertical-align: middle;
        width: 4px;
    }
}
label.style-check {
    cursor: pointer;
    > * {
        position: relative;
        z-index: 2;
        &.selection__border {
            position: absolute;
            z-index: 0
        }
    }
}
.selection {
    z-index: 1;
    .slick-slide {
        overflow: visible;
    }
}
.selection__item {
    border: 0;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    width: 100%;
}
.selection__border {
    content: '';
    border: 1px solid $line;
    border-radius: 5px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    transition: transform .3s ease;
    z-index: -1
}
.selection__heading {
    color: $color1;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 12px;
}
.selection__img {
    display: block;
    height: 322px;
    line-height: 285px;
    padding: 17px 0;
    text-align: center;
    img {
        display: inline-block;
        height: 236px;
        vertical-align: middle;
        width: 167px;
    }
    i {
        color: #9a9a9a;
        font-size: 49px;
        vertical-align: middle;
        &.iconm-pallet2 {
            font-size: 60px
        }
        &.iconm-pallet3 {
            font-size: 68px
        }
        &.iconm-form1 {
            font-size: 171px;
        }
        &.iconm-form2 {
            font-size: 232px;
        }
        &.iconm-form3 {
            font-size: 232px;
        }
        &.iconm-form4 {
            font-size: 215px;
        }
        &.iconm-form5 {
            font-size: 167px;
        }
    }
}
.selection-4 {
    margin-top: 21px;
    .selection__img {
        height: 173px;
        line-height: 167px;
        padding: 0;
        border-radius: 87px;
        img {
            height: 173px;
            width: auto;
        }
    }
    .selection__item {
        padding-bottom: 18px;
        padding-top: 12px;
    }
    label.style-check {
        height: calc(100% - 64px);
    }
}
.selection-4 {
    .slick-track {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .styles-check, .slick-track > * {
        height: auto;
    }
}
.pr-slider-1 .selection .styles-check {
    i.iconm-cabin1 {
        font-size: 236px
    }
    i.iconm-cabin2 {
        font-size: 256px;
    }
    i.iconm-cabin3, i.iconm-cabin4 {
        font-size: 283px;
    }
}
.pr-slider-3 {
    .selection__img {
        height: 272px;
        line-height: 235px;
    }
}
.pr-slider-4 {
    .button-more {
        margin-top: -9px;
    }
}
.active {
    .selection__img i, .selection__heading {
        color: $linkColorActive;
    }
}
.selection__description {
    color: #8c97a3;
    display: block;
    line-height: 1.6;
    margin-top: 24px;
    padding-left: 4px;
    padding-right: 4px
}
.slick-current .selection__item {
    &:after, &:before {
        content: '';
        bottom: -23px;
        display: none;
        height: 0;
        left: 50%;
        position: absolute;
        width: 0;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    &:after {
        border-bottom: 14px solid #dfe6ee;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        z-index: 0
    }
    &:before {
        border-bottom: 13px solid #fff;
        border-left: 14px solid transparent;
        border-right: 14px solid transparent;
        bottom: -24px;
        z-index: 1
    }
}
.open-slider {
    .selection__item {
        margin-bottom: 24px;
    }
    .slick-current {
        z-index: 1;
         .selection__item {
            &:after, &:before {
                display: block;
            }
        }
    }
}
.open-slider .slick-current, .styles-check:hover, .functional [class*="col-"]:hover  {
    .selection__border {
        box-shadow: 0 4px 8px rgba(0,0,0,.26);
        z-index: 2;
        transition: transform .3s ease;
        -webkit-transform: scale(1.05,1.05);
        transform: scale(1.05,1.05);
    }
    .selection__img i {
        color: $linkColorActive;
    }
}
.selection-more {
    margin-left: -3px;
    margin-right: -3px;
    .styles-check {
        height: auto
    }
    .styles-check {
        padding-left: 3px;
        padding-right: 3px;
        width: 20%
    }
    .slick-list {
        margin-left: -5px;
        margin-right: -3px;
        padding-left: 5px;
        padding-right: 5px;
    }
}
.selection-slider {
    border: 1px solid #dfe6ee;
    border-radius: 5px;
    display: none;
    margin-top: -1px;
    padding: 40px 15px 31px;
    position: relative;
    z-index: 0;
    .slick-prev:before, .slick-next:before {
        font-size: 20px
    }
    .slick-arrow {
        margin-top: -34px;
    }
    .slick-prev:hover:before, .slick-next:hover:before {
        color: $linkColorActive;
    }
    .slick-prev {
        left: 0;
    }
    .slick-next {
        right: 6px;
    }
}
.selection-slider__row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.selection-slider__img, .selection-slider__content {
    float: none;
}
.selection-slider__img {
    text-align: center;
}
.selection-slider__category a{
    color: $color1;
    font: 34px/1.2 $font-second;
}
.selection-slider__heading {
    margin-top: 26px;
    a {
        border-bottom: 1px solid;
        color: #0085d9;
        font: 24px/1.2 $font-second;
        &:hover {
            border-bottom-color: transparent
        }
    }
}
.selection-slider__description {
    color: #667587;
    line-height: 1.6;
    margin-bottom: 26px;
    margin-top: 10px;
}
.close-slider {
    color: #313541;
    cursor: pointer;
    font-size: 21px;
    position: absolute;
    right: 29px;
    top: 25px;
}
.promo-page-2 {
    .section-popular h3, .review h3 {
        color: $color2;
        font: 700 24px/1.25 $font-second;
        margin-bottom: 13px;
    }
    .review {
        padding-top: 23px;
    }
}

.promo-demo-3 {
    background-image: url(../img/promo-demo_bg_3.jpg?ver1.2);
    height: 300px;
    background-size: cover
}
.promo-subheading {
    color: $color1;
    font-family: $font-second;
    font-size: 24px;
    font-weight: 700;
    margin: -3px 0 29px;
    text-align: center;
}
.info-promo {
    background: #0085d9 url('../img/pattern_promo.png?ver1.2');
    color: #fff;
    height: 350px;
    margin-top: 30px;
    .container {
        display: table;
        height: 100%;
        table-layout: fixed;
    }
}
.info-promo__inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.info-promo-bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.info-promo-list {
    color: #f4f7fa;
    height: auto;
    min-height: 350px;
    padding: 47px 0 27px;
}
.info-promo__heading {
    font-family: $font-second;
    font-size: 34px;
}
.info-promo__subheading {
    font-size: 20px;
    font-weight: 500;
    margin-top: 6px;
}
.info-promo__description {
    letter-spacing: 0.01em;
    line-height: 1.6;
    margin-bottom: 8px;
    margin-right: 18px;
    margin-top: 22px;
}
.info-promo__list {
    margin-top: 29px;
    i {
        color: #fff;
        display: inline-block;
        font-size: 64px;
        height: 64px;
        &.iconm-term {
            font-size: 59px
        }
    }
}
.info-promo__item {
    color: #dfe6ee;
    text-align: center;
}
.info-promo__title {
    line-height: 1.35;
    margin-top: 11px;
    padding: 0 15px;
    strong {
        display: block;
        font-size: 20px;
        font-weight: 500
    }
}
.exampes-block {
    padding-bottom: 90px;
    padding-top: 60px;
}
.exampes-block__description {
    padding-top: 84px;
}

.exampes-block__item {
    display: table;
    table-layout: fixed;
}
.examples__heading {
    a {
        color: $main;
        font-size: 24px;
    }
}
.examples__description {
    color: #0085d9;
    font-family: $font-second;
    font-size: 34px;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 19px
}
.exampes-block__product {
    .product {
        border-width: 1px;
        margin-bottom: 0;
    }
    .product__img {
        height: auto;
        max-height: 250px;
    }
    .product__title {
        height: auto;
    }
}
.iconm-ico_sit {
    font-size: 27px; 
}
.iconm-ico_shelf {
   font-size: 28px; 
}
.iconm-ico_miror, .iconm-ico_ventilation {
    font-size: 35px
}
.iconm-ico_top_shower {
   font-size: 29px; 
}
@media (min-width: 992px) {
    .info-promo-bg {
        background-attachment: fixed
    }
    .info-promo__description strong {
        font-size: 20px;
        font-weight: 500
    }
}
@media (min-width: 1200px) {
    .functional {
        margin-top: 26px;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .functional > div {
        margin-bottom: 30px;
        margin-right: -0.4px;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .characteristic + .characteristic {
        margin-top: 30px;
    }
    .selection-4 .selection__item {
        min-height: 363px
    }
    .open-slider .selection-4 .selection__item{
        min-height: 373px
    }
    .info-promo__inner-indent {
        padding-left: 30px;
    }
    .characteristic__description {
        padding-right: 10px
    }
}
@media (max-width: 1199px) {
    .characteristic-wrap + .characteristic-wrap {
        margin-top: 30px;
    }
    .promo-heading-2, .promo-heading-3 {
        margin-top: 19px
    }
    .promo-demo-2 {
        background-image: url("../img/promo-demo_bg_2_md.jpg?ver1.2");
        background-size: cover;
    }
    .characteristic-block {
        padding-top: 19px;
    }
    .characteristic__img {
        margin-right: 28px;
        width: 47.2%
    }
    .characteristic {
        padding-bottom: 13px
    }
    .note-promo__icon {
        height: 66px;
        line-height: 56px;
        width: 66px;
    }
    .selection .slick-dots {
        bottom: 14px;
    }
    .selection__img {
        height: 303px;
        line-height: 267px;
    }
    .selection-slider {
        margin-left: -30px;
        margin-right: -30px;
        margin-top: -3px;
        padding: 24px 0 6px 7px;
    }
     .selection-slider__content {
        padding-left: 0;
        padding-right: 65px;
     }
     .selection-slider__img {
        padding: 0 15px 15px 30px;
        img {
            width: calc(33.33% + 19px);
        }
     }
    .open-slider .slick-current .selection__border, .styles-check:hover .selection__border, .functional [class*="col-"]:hover .selection__border{
        -webkit-transform: scale(1.01, 1.01);
        transform: scale(1.01, 1.01);
    }

    .functional label.style-check {
        height: 100%
    }
    .selection__item, .open-slider .selection__item {
        margin-bottom: 38px;
    }
    .slick-current .selection__item:after, .slick-current .selection__item:before {
        bottom: -36px;
    }
    .slick-current .selection__item:before {
        border-bottom: 10px solid #fff;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        bottom: -36px;
    }
    .slick-current .selection__item:after {
        border-bottom: 11px solid #dfe6ee;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
    }
    .selection-slider__category a {
        font-size: 24px
    }
    .selection-slider__heading {
        margin-top: 14px;
        a {
            font-family: $font;
            font-size: 20px;
            font-weight: 500
        }
    }
    .selection-slider__description {
        margin-top: 12px;
    }
    .close-slider {
        right: 15px;
        top: 11px;
    }
    .pr-slider-2 {
        .characteristics__heading {
            margin-bottom: 22px;
        }
        .selection__img {
            height: 156px;
            line-height: 119px;
        }
    }
    .selection-more {
        margin-left: -15px;
        margin-right: -15px;
        .slick-list {
            margin-left: 0;
            margin-right: 0;
            padding-left: 0;
            padding-right: 0;
        }
        .styles-check {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .pr-slider-3 .selection__img {
        height: 182px;
        line-height: 179px;
    }
    .selection-more .selection__img {
        padding: 0
    }
    .selection__img i.iconm-form1 {
        font-size: 122px;
    }
    .selection__img i.iconm-form2 {
        font-size: 163px;
    }
    .selection__img i.iconm-form3 {
        font-size: 162px;
    }
    .selection__img i.iconm-form4 {
        font-size: 165px;
    }
    .selection__img i.iconm-form5 {
        font-size: 165px;
    }
    .pr-slider-3 .promo-text {
        padding-right: 45px
    }
    .selection-4  .selection__img img {
        height: 165px;
        border-radius: 83px
    }
    .selection__description {
        margin-top: 20px;
        padding-left: 5px;
        padding-right: 5px
    }
    .promo-functional {
        padding-bottom:  25px;
    }
    .selection-4 label.style-check {
        height: calc(100% - 78px);
    }
    .functional {
        margin-top: -10px;
        margin-bottom: -10px;
    }
    .functional__item {
        margin-bottom: 8px;
        padding-bottom: 28px;
    }
    .pr-slider-2 {
        margin-top: 66px;
    }
    .promo-demo-3 {
        height: 300px;
    }
    .info-promo__subheading {
        line-height: 1.2;
        margin-top: 9px;
    }
    .info-promo__description {
        margin-top: 23px;
    }
    .info-promo__item {
        margin-bottom: 10px
    }
    .info-promo-list .info-promo__subheading {
        line-height: 1.4
    }
    .functional{
        .slick-dots {
            bottom: -12px
        }
        .slick-track > * {
            padding-top: 10px;
            padding-bottom: 10px
        }
    }
     .info-promo__description {
        margin-right: 10px;
     }
     .info-promo-list {
        margin-right: 0;
     }
}
@media (max-width: 1199px) and (min-width: 768px){
    .button-more a {
        margin-left: auto;
        margin-right: auto;
        max-width: 222px;
    }
    .pr-slider-4 {
        .characteristics__subheading {
            margin-right: -1px;
        }
        .selection__description {
            padding-right: 15px
        }
    }
    .selection-4 .selection__item {
        padding-bottom: 27px
    }
    .exampes-block {
        .container {
            padding-left: 15px;
            padding-right: 15px;
            width: 100%;
        }
    }
    .exampes-block__description {
        float: left;
        padding-left: calc(12.5% - 15px);
        padding-top: 26px;
        width: 62.5%;
    }
    .examples__heading {
        line-height: 1;
    }
    .exampes-block__product {
        float: left;
        padding-left: 0;
        padding-right: 18px;
        width: 37.5%;
    }
    .promo-page-2 .section-popular h3, .promo-page-2 .review h3 {
        margin-bottom: 28px;
        padding-left: 0
    }
    .product-review {
        margin-left: -30px;
        margin-right: -30px;
    }
    .info-promo__list {
        margin-top: 25px;
    }
    .functional{
        margin-top: 18px;
        .slick-track {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }
        .slick-track > * {
            height: auto;
        }
    }
}
@media (max-width: 991px) {
    .characteristics__heading {
        margin-bottom: 8px
    }
    .content .promo-page-2 .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .content .promo-page-2 .note-promo .container {
        padding-right: 12.5%;
        width: 100%
    }
}
@media (max-width: 767px) {
    .promo-page-2 {
        margin-top: -20px;
    }
    .promo-demo-2 {
        height: 430px
    }
    .pr-slider {
        padding-left: 3px;
        padding-right: 3px
    }
    .characteristics__heading {
        font-size: 24px;
        height: auto;
        line-height: 1.35;
        margin-bottom: 6px;
        width: 88%
    }
    .characteristics__subheading {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        margin-bottom: 10px;
    }
    .characteristic__img {
        height:  auto;
        float: none;
        margin-right: 0;
        max-height: 330px;
        width: 100%;
    }
    .button-more {
        display: none;
    }
    .promo-heading-2 {
        margin-top: 3px;
        line-height: 1.35;
    }
    .promo-demo-2 {
        margin-top: 3px
    }
    .promo-text {
        line-height: 1.45
    }
    .promo-text {
        font-size: 14px;
        margin-top: 11px;
    }
    .promo-text-main {
        border-bottom: 0;
        margin-top: 26px;
    }
    .promo-text-main p {
        margin-bottom: 20px;
    }
    .characteristics {
        padding-top: 27px;
    }
    .characteristic {
        padding-bottom: 12px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .characteristic-block {
        padding-left: 3px;
        padding-right: 3px;
    }
    .characteristic__heading {
        height: auto;
        margin-bottom: 9px;
        margin-top: 19px;
    }
    .characteristic__description{
        font-size: 14px;
        line-height: 1.45
    }
    .note-promo {
        letter-spacing: -0.025em;
        line-height: 1.35;
        padding-top: 30px;
        padding-bottom: 25px
    }
    .content .promo-page-2 .note-promo .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .note-promo__icon {
        border-radius: 41px;
        border-width: 5px;
        display: block;
        float: none;
        height: 81px;
        line-height: 71px;
        margin: 0 auto 27px;
        width: 81px;
    }
    .selection-slider {
        display: none;
    }
    .selection__img {
        height: 340px;
        line-height: 303px;
    }
    .characteristics__description {
        line-height: 1.35
    }
    .pr-slider-2 {
        margin-top: 39px;
        .selection__item {
            margin-left: 9px;
            margin-right: 9px;
            width: calc(100% - 18px);
        }
         .selection__img {
            height: 165px;
            line-height: 128px;
        }
    }
    .pr-slider-3  {
        .selection__item {
            margin-left: 26px;
            margin-right: 26px;
            width: calc(100% - 52px)
        }
        .selection__img {
            height: 273px;
            line-height: 270px;
        }
        .characteristics__description {
            display: none;
        }
    }
    .selection-4 {
        margin-top: 21px;
        .selection__item {
            margin-left: 9px;
            margin-right: 9px;
            padding-top: 15px;
            width: calc(100% - 18px);
        }
        .selection__img img {
            height: 170px;
            border-radius: 85px
        }
    }
    .promo-functional {
        margin-top: 40px;
        .characteristics__description {
            display: none;
        }
    }
    .functional {
        margin-top: 16px;
    }
    .functional__item {
        margin-left: 19px;
        margin-right:  19px;
        padding-bottom: 22px;
    }
    .functional__icon {
        width: 63px;
    }
    .functional .slick-dots {
        bottom: -14px;
    }
    .confirm-promo {
        margin-top: 63px
    }
    .confirm-promo {
        p {
            font-size: 15px;
            font-weight: 400;
            line-height: 1.6;
            margin-bottom: 22px;
            margin-right: 30px
        }
         [class*="col-"] {
            padding-left: 15px;
            padding-right: 15px;
         }
    }
     .pr-slider-2 {
        .characteristics__heading {
            margin-bottom: 26px;
        }
        .promo-text {
            margin-right: 45px
        }
    }
    .pr-slider-3 .promo-text {
        padding-right: 15px;
    }
    .selection-4 .selection__item {
        padding-bottom: 12px;
    }

    .promo-heading-3 {
        margin-bottom: 13px;
        margin-top: 14px;
    }
    .promo-subheading {
        font-size: 20px;
        line-height: 1.25;
        margin-bottom: 14px;
    }
    .promo-text-main-2 {
        margin-top: 26px
    }
    .info-promo {
        height: auto;
        padding: 23px 0 19px;
    }
    .info-promo__heading {
        line-height: 1.2;
    }
    .info-promo__subheading {
        margin-top: 12px;
    }
    .info-promo__description {
        font-size: 14px;
        line-height: 1.45;
        margin-right: 0;
        margin-top: 25px;
    }
    .info-promo__heading + .info-promo__description {
        margin-top: 29px
    }
    .exampes-block__description {
        padding-top: 0;
    }
    .exampes-block {
        padding-bottom: 90px;
        padding-top: 53px;
    }
    .exampes-block__description {
        padding-left: 19px;
    }
    .examples__heading a {
        line-height: 1.4
    }
    .examples__description {
        font-family: $font;
        font-size: 24px;
        line-height: 1.3;
        margin-top: 7px;
    }
    .exampes-block__product {
        margin-top: 27px;
        .product {
            max-width: 270px;
        }
    }
    .info-promo__item {
        margin-bottom: 8px;
    }
    .info-promo__title {
        margin-left: auto;
        margin-right: auto;
        max-width: 270px
    }
    .promo-page-2 .section-popular h3, .promo-page-2 .review h3 {
        font: 500 20px/1.2 $font;
        margin-bottom: 29px;
    }
    .promo-page-2 .section-popular h3 {
        margin-bottom: 14px
    }
    .info-promo-bg {
        background-position: 50% 50% !important;
    }
    .info-promo-list .info-promo__subheading {
        margin-top: 5px;
    }
}
@media (max-width: 767px) and (min-width: 480px) {
    .info-promo__item {
        width: 50%;
    }
}
@media (max-width: 480px) {
    .promo-demo-2 {
        background-image: url("../img/promo-demo_bg_2_xs.jpg?ver1.2");
    }
}