﻿$font: 'Ubuntu', arial, verdana, sans-serif;
$font-second: 'ALSSchlangesans', arial, verdana, sans-serif;
$fontSize: 15px;
$main: #2c3e50;
$fontColor: rgba($main,.95);
$fontLine:1.45;

$color1: #3e5266;
$color2: #34495e;
$color3: #2980b9;
$linkColor: rgba($color1,.95);
$linkColorActive:#3498db;
$grey1: #95a5a6;
$color-light: rgba($grey1,.95);
$line: #eff3f3;
$green: #2ecc71;
$darkgreen: #27ae60;
$bg2: $green;
$bg2_hover: #32da79;
$hot: #f39c12;
$widthMin:320px;
$line: #ebedee;
$grey: #7f8c8d;
$darkgrey: #bdc3c7;
$important: #e74c3c;
$text_grey: #8c97a3;
$border-color: #f4f7fa;

$h1Size:46px;
$h2Size:38px;
$h3Size:24px;
$h4Size:17px;

$btn_bg: $linkColorActive;
$btn_bg_hov: #2c80b9;
$btn_color: #fff;
%tooltip_bottom {
	left: auto;
	right: -12px;
	top: calc( 100% + 10px);
	&:before {
		border-right:8px solid transparent;
		border-left: 8px solid transparent;
		border-bottom: 8px solid $darkgrey;
		border-top: 0;
		left: auto;
		right: 10px;
		top: -8px;
	}
}
/* catalog-general */

@mixin shadow($shadowL,$shadowT,$shadowS,$shadowW,$shadowcolor){
  -webkit-box-shadow: $shadowL $shadowT $shadowS $shadowW $shadowcolor;
  -moz-box-shadow: $shadowL $shadowT $shadowS $shadowW $shadowcolor;
  box-shadow: $shadowL $shadowT $shadowS $shadowW $shadowcolor;
}
@mixin font($font-s, $font-h, $font-c, $font-w) {
  font-size: $font-s;
  line-height: $font-h;
  color:$font-c;
  font-weight: $font-w;
}
@mixin clearafter(){
  content: "";
  display: block;
  height: 1px;
  overflow: hidden;
  clear: both;
}
@mixin radius($border-radius) {
  -webkit-border-radius: $border-radius;
     -moz-border-radius: $border-radius;
           border-radius:$border-radius;
}
@mixin before(){
  content: "";
  display: block;
  overflow: hidden;
  position: absolute;
}
@mixin animate($ani-time,$ani-prop){
  -moz-transition-duration: $ani-time;
  -webkit-transition-duration: $ani-time;
  -o-transition-duration: $ani-time;
  -ms-transition-duration: $ani-time;
  transition-duration: $ani-time;
  -webkit-transition-property: $ani-prop;
  -ms-transition-property: $ani-prop;
  -o-transition-property: $ani-prop;
  -moz-transition-property: $ani-prop;
  transition-property: $ani-prop;
}
@mixin transform-translate($transX,$transY){
  transform: translateX($transX) translateY($transY);
  -ms-transform: translateX($transX) translateY($transY);
  -o-transform: translateX($transX) translateY($transY);
  -moz-transform: translateX($transX) translateY($transY);
  -webkit-transform: translateX($transX) translateY($transY);
}