﻿@import "_variables";

.rating-loading {
    width: 25px;
    height: 25px;
    font-size: 0;
    color: #fff;
    border: none;
}
.rating-container .rating-stars {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}
.rating-choice .rating-container .rating-stars {
	cursor: pointer;
}
.rating-container .rating-input {
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    font-size: 1px;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

.rating-disabled .rating-input, .rating-disabled .rating-stars {
    cursor: not-allowed;
}
.rating-container .star {
    display: inline-block;
    margin: 0 3px 0 2px;
    text-align: center;
}
.rating-container .empty-stars {
    color: $darkgrey;
}
.light-star .rating-container .empty-stars {
    color: $line;
}
.rating-container .filled-stars {
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    color: $green;
    white-space: nowrap;
    overflow: hidden;
}
.rating-animate .filled-stars {
    transition: width 0.25s ease;
    -o-transition: width 0.25s ease;
    -moz-transition: width 0.25s ease;
    -webkit-transition: width 0.25s ease;
}
.rating-rtl.is-star .filled-stars {
    right: 0.06em;
}

.rating-rtl.is-heart .empty-stars {
    margin-right: 0.07em;
}

.rating-md {
    font-size: 1em;
}