﻿body {
	> div {
		display: none;
		&.load-ie{
			display: block;
			font-size: 40px;
			padding: 50px 0;
			text-align: center;

			i {
				display: inline-block;
				background: url('../img/icons/sprite.png?ver1.1') -101px -51px no-repeat;
				height: 41px;
				margin: 0 0 11px 15px;
				vertical-align: bottom;
				width: 45px;
			}
		}
	}
	&.loaded .icon-load {
		display: none;
	}
}
