@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ey1f6b');
  src:  url('fonts/icomoon.eot?ey1f6b#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ey1f6b') format('truetype'),
    url('fonts/icomoon.woff?ey1f6b') format('woff'),
    url('fonts/icomoon.svg?ey1f6b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="iconm-"], [class*=" iconm-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconm-delivery_img1:before {
  content: "\e90b";
}
.iconm-delivery_img2:before {
  content: "\e90c";
}
.iconm-delivery_img3:before {
  content: "\e90d";
}
.iconm-delivery_img4:before {
  content: "\e90e";
}
.iconm-marker:before {
  content: "\e900";
}
.iconm-clock:before {
  content: "\e901";
}
.iconm-viber .path1:before {
  content: "\e906";
  color: rgb(38, 62, 79);
}
.iconm-viber .path2:before {
  content: "\e907";
  margin-left: -0.8759765625em;
  color: rgb(45, 63, 80);
}
.iconm-viber .path3:before {
  content: "\e908";
  margin-left: -0.8759765625em;
  color: rgb(45, 63, 80);
}
.iconm-viber .path4:before {
  content: "\e909";
  margin-left: -0.8759765625em;
  color: rgb(45, 63, 80);
}
.iconm-viber .path5:before {
  content: "\e90a";
  margin-left: -0.8759765625em;
  color: rgb(45, 63, 80);
}
.iconm-cabin1:before {
  content: "\e902";
  color: #999;
}
.iconm-cabin2:before {
  content: "\e903";
  color: #999;
}
.iconm-cabin3:before {
  content: "\e904";
  color: #999;
}
.iconm-cabin4:before {
  content: "\e905";
  color: #999;
}
.iconm-cat-accessory:before {
  content: "\e984";
}
.iconm-cat-additional:before {
  content: "\e985";
}
.iconm-cat-furniture:before {
  content: "\e986";
}
.iconm-cat-heat:before {
  content: "\e987";
}
.iconm-cat-heat2:before {
  content: "\e988";
}
.iconm-cat-lavatory:before {
  content: "\e989";
}
.iconm-cat-lavatory2:before {
  content: "\e98a";
}
.iconm-cat-shower:before {
  content: "\e98b";
}
.iconm-cat-sink:before {
  content: "\e98c";
}
.iconm-cat-tap:before {
  content: "\e98d";
}
.iconm-cat-tub:before {
  content: "\e98e";
}
.iconm-conformity:before {
  content: "\e98f";
}
.iconm-form1:before {
  content: "\e990";
  color: #999;
}
.iconm-form2:before {
  content: "\e991";
  color: #999;
}
.iconm-form3:before {
  content: "\e992";
  color: #999;
}
.iconm-form4:before {
  content: "\e993";
  color: #999;
}
.iconm-form5:before {
  content: "\e994";
  color: #999;
}
.iconm-garanty:before {
  content: "\e995";
}
.iconm-ico_miror:before {
  content: "\e996";
  color: #507fb5;
}
.iconm-ico_radio:before {
  content: "\e997";
  color: #507fb5;
}
.iconm-ico_shelf:before {
  content: "\e998";
  color: #507fb5;
}
.iconm-ico_sit:before {
  content: "\e999";
  color: #507fb5;
}
.iconm-ico_steam:before {
  content: "\e99a";
  color: #507fb5;
}
.iconm-ico_sun:before {
  content: "\e99b";
  color: #507fb5;
}
.iconm-ico_top_shower:before {
  content: "\e99c";
  color: #507fb5;
}
.iconm-ico_ventilation:before {
  content: "\e99d";
  color: #507fb5;
}
.iconm-ico_vertical_shower:before {
  content: "\e99e";
  color: #507fb5;
}
.iconm-like:before {
  content: "\e99f";
  color: #2ecc71;
}
.iconm-list:before {
  content: "\e9a0";
}
.iconm-pallet1:before {
  content: "\e9a1";
  color: #999;
}
.iconm-pallet2:before {
  content: "\e9a2";
  color: #999;
}
.iconm-pallet3:before {
  content: "\e9a3";
  color: #999;
}
.iconm-term:before {
  content: "\e9a4";
}
.iconm-time:before {
  content: "\e9a5";
  color: #2ecc71;
}
.iconm-user:before {
  content: "\e9a6";
  color: #34495e;
}
